{%- comment -%}Check for related products and increase limit by one (to offset the currently selected product that is removed from the product loop){%- endcomment -%}

{%- assign limit = 5 -%}
{%- assign visible_products = 5 -%}
{%- assign products_length = 5 -%}
<div class="slider-gallery products-slider col-slider products-length-{{ products_length }} transparentBackground--{{settings.slideshow_button_style}}"
      data-products-per-slide="{{ visible_products }}"
      data-products-limit="{{ limit }}"
      data-products-available="{{ products_length }}">
  {%- for collection in collections -%}
     {%- if collection.title == 'Perodua Car Mats' or collection.title == 'Proton Car Mats' or collection.title == 'Honda Car Mats' or collection.title == 'Toyota Car Mats' or collection.title == 'Nissan Car Mats' -%}
      {%- assign feature_image = collection.image -%}
      <div class="gallery-cell thumbnail visible-{{ visible_products }}">
        <div class="product-wrap">
          <div class="relative product_image swap-{{ settings.collection_secondary_image }}">
            <a href="{{ collection.url }}" itemprop="url">
              <div class="image__container">
                {%- include 'image-element', image: feature_image, alt: collection.title, object_fit: settings.align_height, max_height: settings.collection_height -%}
              </div>
            </a>
            <div class="product-details">
              <span class="title" itemprop="name">{{ collection.title }}</span>
            </div>
          </div>
          <a href="{{ collection.url }}" itemprop="url" class="slider-collection-url">
         Shop Now
        </a>
        </div>
             </div>
  {%- endif -%}
  {%- endfor -%}
</div>
<style>
  .whats-hot-slider .thumbnail .title{
    font-size: 18px!important;
    margin-top: 0!important;
    margin-bottom: 15px!important;
    text-transform: initial!important;
    text-align: center!important;
    font-family: "Roboto" !important;
    color: grey!important;
    font-weight: 700!important;
    line-height: 20px!important;
    min-height: 40px !important;
  }
  .whats-hot-slider .shopify-reviews{
    display:none;
  }
  .whats-hot-slider .thumbnail .price span.money{
    font-family: "Roboto"!important;
    font-weight: 500!important;
    color: grey!important;
  }
  .whats-hot-slider .apaylater-widget .main-span span{
    font-family: "Roboto" !important;
    font-weight: 500 !important;
    color:#808080 !important;
  }
  .slider-gallery .gallery-cell a.slider-product-url img{
    width:40px;
    margin: auto;
  }
  .whats-hot-slider .products-slider{
    padding-bottom: 50px;
    margin-bottom: 0;
  }
  .whats-hot-slider .flickity-page-dots{
    bottom:15px;
  }
  .whats-hot-slider .slider-gallery.transparentBackground--false .flickity-page-dots .dot{
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background: #808080;
  }
  .whats-hot-slider .slider-gallery.transparentBackground--false .flickity-page-dots .dot.is-selected{
    position: relative;
    height: 6px;
    top: 1px;
  }
  .whats-hot-slider .slider-gallery .flickity-prev-next-button{
    opacity:1;
  }
  .products-slider.slider-gallery.col-slider .gallery-cell.visible-5{
        background: #F7F7F7;
    padding: 25px 10px;
  }
  .slider-gallery .gallery-cell a.slider-collection-url{
    background-color: #d82477;
    box-shadow: rgba(0,0,0,.75) 5px 2px 11px -5px;
    font-weight: normal;
    padding: 10px 30px;
    padding-top: 14px;
    letter-spacing: 1px;
    color: #fff!important;
    font-family: 'Roboto';
    border-radius: 25px;
    text-transform: uppercase;
  }
  .products-slider.slider-gallery.col-slider .flickity-viewport{
    height:260px !important;
  }
 
  
  @media only screen and (max-width: 798px){
.whats-hot-slider .products-slider.slider-gallery .gallery-cell.visible-5 {
    width: calc(50% - 10px);
}
  }
 /* @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {
    .products-slider.slider-gallery.col-slider .flickity-viewport{
      height:40vh !important;
    }
    }
  @media only screen and (min-width: 375px)
{
  .products-slider.slider-gallery.col-slider .flickity-viewport{
      height:50vh !important;
    }
}*/
  @media (max-width: 767px){
    .slider-gallery .gallery-cell a.slider-product-url img {
      width: 35px;
    }
    .whats-hot-slider .thumbnail .title{
      font-size: 14px!important;
      line-height: 16px!important;
    }
    .whats-hot-slider .flickity-page-dots{
      position:relative !important;
      bottom: -20px;
    }
    .products-slider.slider-gallery.col-slider .flickity-viewport{
      height:215px !important;
    }
  }
</style>
