{% assign current_collection = collection.url %}
{% assign has_subcategories = false %} 

{%- for link in linklists.megantic-subcategories-1-3-level.links -%}
  {%- if link.links != blank -%}
    {%- for child_link in link.links -%}
      {% if link.url == current_collection %}
        {% assign has_subcategories = true %} 
      {% endif %}
      {%- if child_link.links != blank -%}
        {% if child_link.url == current_collection %}
          {%- for grandchild_link in child_link.links -%}
            {% assign has_subcategories = true %}
            {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{%- for link in linklists.megantic-subcategories-3-6-level.links -%}
  {%- if link.links != blank -%}
    {%- for child_link in link.links -%}
      {% if link.url == current_collection %}
        {% assign has_subcategories = true %}
        {% endif %}
      {%- if child_link.links != blank -%}
        {% if child_link.url == current_collection %}
          {%- for grandchild_link in child_link.links -%}
          {% assign has_subcategories = true %} 
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% if has_subcategories %}
  {% comment %} DESKTOP SUBCATEGORIES START{% endcomment %}
  <div style = "flex: 1;padding: 20px 0px 0px;">
    <button class = "mgc-subcategories-button">Subcategories</button>
    <div class="mgc-subcategories-dropdown">
        <ul class = "mgc-ul">
          {%- for link in linklists.megantic-subcategories-1-3-level.links -%}
            {%- if link.links != blank -%}
              {%- for child_link in link.links -%}
                {% if link.url == current_collection %}
                  <li class = "mgc-li">
                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </li>
                {% endif %}
                {%- if child_link.links != blank -%}
                  {% if child_link.url == current_collection %}
                    {%- for grandchild_link in child_link.links -%}
                      <li class = "mgc-li">
                        <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                      </li>
                    {% endfor %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          {%- for link in linklists.megantic-subcategories-3-6-level.links -%}
            {%- if link.links != blank -%}
              {%- for child_link in link.links -%}
                {% if link.url == current_collection %}
                  <li class = "mgc-li">
                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </li>
                {% endif %}
                {%- if child_link.links != blank -%}
                  {% if child_link.url == current_collection %}
                    {%- for grandchild_link in child_link.links -%}
                      <li class = "mgc-li">
                        <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                      </li>
                    {% endfor %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
      </ul>
    </div>
  </div>
  {% comment %} DESKTOP SUBCATEGORIES END{% endcomment %}
  <div class="mgc-accordion">
    <button class="accordion">Subcategories</button>
    <div class="panel">
        <ul class="mgc-ul">
            <!-- Subcategory links will be inserted here dynamically or via a templating system like Liquid -->
            {%- for link in linklists.megantic-subcategories-1-3-level.links -%}
                {%- if link.links != blank -%}
                    {%- for child_link in link.links -%}
                        {% if link.url == current_collection %}
                            <li class="mgc-li">
                                <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                            </li>
                        {% endif %}
                        {%- if child_link.links != blank -%}
                            {% if child_link.url == current_collection %}
                                {%- for grandchild_link in child_link.links -%}
                                    <li class="mgc-li">
                                        <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {%- for link in linklists.megantic-subcategories-3-6-level.links -%}
                {%- if link.links != blank -%}
                    {%- for child_link in link.links -%}
                        {% if link.url == current_collection %}
                            <li class="mgc-li">
                                <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                            </li>
                        {% endif %}
                        {%- if child_link.links != blank -%}
                            {% if child_link.url == current_collection %}
                                {%- for grandchild_link in child_link.links -%}
                                    <li class="mgc-li">
                                        <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
