
<div class="breadcrumb_text">
  <a href="{{ routes.root_url }}" title="{{ shop.name | escape }}" class="breadcrumb_link">
    <span>{{ 'general.breadcrumbs.home' | t }}</span>
  </a>
  <span class="breadcrumb-divider">/</span>
  <a href="{{ page.url }}" class="breadcrumb_link">
    <span>{{ page.title }}</span>
  </a>
</div>
