{%- comment smartseo_integration_begin_meta_data -%}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ shop.url }}",
          "name": "{{ 'general.breadcrumbs.home' | t }}"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          {% if collection %}
            "@id": "{{ collection.url }}",
            "name": "{{ collection.title }}"
          {% else %}
            "@id": "{{ routes.all_products_collection_url }}",
            "name": "{{ collections.all.title }}"
          {% endif %}
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "{{ product.url }}",
          "name": "{{ product.title | escape }}"
        }
      }
    ]
  }
</script>
{%- endcomment smartseo_integration_end_meta_data -%}
<div class="sixteen columns mobile-only">
      <a href="javascript:void(0);" class="back-btn" id="back_btn"><span class="b-left"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#e82276" d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg></span>BACK</a>
</div>
<div class="breadcrumb_text">
  <a href="{{ routes.root_url }}" title="{{ shop.name | escape }}" class="breadcrumb_link">
    <span>{{ 'general.breadcrumbs.home' | t }}</span>
  </a>
  <span class="breadcrumb-divider">/</span>
  {% if collection %}
    <a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="breadcrumb_link">
      <span>{{ collection.title }}</span>
      </a>
  {% else %}
    <a href="{{ routes.all_products_collection_url }}" title="{{ collections.all.title }}" class="breadcrumb_link">
      <span>{{ collections.all.title }}</span>
      </a>
  {% endif %}
  <span class="breadcrumb-divider">/</span>
  <a href="{{ product.url }}" class="breadcrumb_link">
    <span>{{ product.title | escape }}</span>
  </a>
</div>
