{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{%- assign file_extension = 'png' -%}
{%- assign swatch = option -%}
{%- assign found_option = false -%}
{%- assign is_color = false -%}
{%- assign is_package = false -%}
{%- assign option_index = 0 -%}

{% for option in product.options %}
  {% if option == swatch %}
    {%- assign found_option = true -%}
    {%- assign option_index = forloop.index0 -%}
    {%- assign downcased_option = swatch | downcase -%}

    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {%- assign is_color = true -%}
    {% endif %}
    {% if downcased_option contains 'packages' %}
      {%- assign is_package = true -%}
    {% endif %}
  {% endif %}
{% endfor %}

{%- assign downcased_swatch = swatch | downcase -%}

{% if downcased_swatch == 'base colour' or downcased_swatch == 'base color' %}
  <div class="new-steps">
    <span class="new-step-2"
      >Step
      {% if product.type == 'TRAPO CLASSIC MARK II'
        or product.type == 'TRAPO HEX I'
        or product.type == 'TRAPO ECO I'
        or product.type == 'TRAPO CLASSIC MARK III'
        or product.type == 'TRAPO HEX II'
        or product.type == 'TRAPO ECO II'
        or product.type == 'TRAPO HEX ULTIMATE II'
        or product.type == 'TRAPO x MRDIY'
      -%}
        1
      {%- else -%}
        2
      {%- endif -%}
    </span>
  </div>
  <p class="txt-choose-cmb">Choose your colour combination</p>
{% endif %}
{% if swatch == 'Packages' %}
  <div class="new-steps" style="margin-top:1rem">
    <span class="new-step-2"
      >Step
      {% if product.type == 'TRAPO CLASSIC MARK II'
        or product.type == 'TRAPO HEX I'
        or product.type == 'TRAPO ECO I'
        or product.type == 'TRAPO CLASSIC MARK III'
        or product.type == 'TRAPO HEX II'
        or product.type == 'TRAPO ECO II'
        or product.type == 'TRAPO HEX ULTIMATE II'
        or product.type == 'TRAPO x MRDIY'
      -%}
        2
      {%- else -%}
        3
      {%- endif -%}
    </span>
  </div>
  <p class="txt-choose-pkg">Choose your car mat package</p>
   {% render 'trial-mat-url' %}
{% endif %}

<div class="swatch is-flex is-flex-wrap" data-option-index="{{ option_index }}">
  {% if downcased_swatch == 'base colour' or downcased_swatch == 'base color' %}
    <div class="option_title">Base</div>
  {% elsif downcased_swatch == 'lining colour' or downcased_swatch == 'lining color' %}
    <div class="option_title">Lining</div>
  {% elsif swatch == 'Packages' %}

  {% else %}
    <div class="option_title">
      {{ swatch }}
    </div>
  {% endif %}

  {%- assign values = '' -%}

  {% for variant in product.variants %}
    {%- assign value = variant.options[option_index] | escape -%}

    {% unless values contains value %}
      {%- assign values = values | join: ',' -%}
      {%- assign values = values | append: ',' | append: value -%}
      {%- assign values = values | split: ',' -%}

      <input
        class="swatch_alt_val"
        id="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}"
        type="radio"
        name="option-{{ option_index }}"
        aria-label="{{ value | escape }}"
        tabindex="0"
        value="{{ value | escape }}"
        {% if forloop.first %}
          checked
        {% endif %}
      >

      <div
        tabindex="0"
        value="{{ value | escape }}"
        data-value="{{ value | escape }}"
        data-id="{{ variant.id }}"
        class="swatch-element {% if is_color %}color b-rad-50{% endif %} {% if is_package %}package{% endif %} {{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}"
        onclick="changeSwatch(this)"
      >
        {% if is_color or is_package %}
          <div class="tooltip">{{ value }}</div>
        {% endif %}

        {% if is_color %}
          <label
            class="b-rad-50"
            {% if variant.featured_image %}
              data-image="{{ variant.featured_image | product_img_url: '600x' }}"
            {% endif %}
            for="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}"
            style="background-color: {{ value | split: ' ' | last | handle }};"
          >
            <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out">
          </label>
        {% elsif is_package %}
          {% if product.tags contains '2-seater' and value == 'All Included' %}
            <label
              class="package-label"
              {% if variant.featured_image %}
                data-image="{{ variant.featured_image | product_img_url: '600x' }}"
              {% endif %}
              for="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}"
              style="background-image: url({{ value | handle | append: '-2' |append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }});"
            >
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out">
            </label>
          {% else %}
            <label
              class="package-label"
              {% if variant.featured_image %}
                data-image="{{ variant.featured_image | product_img_url: '600x' }}"
              {% endif %}
              for="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}"
              style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }});"
            >
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out">
            </label>
          {% endif %}
        {% else %}
          <label
            {% if variant.featured_image %}
              data-image="{{ variant.featured_image | product_img_url: '600x' }}"
            {% endif %}
            for="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}"
          >
            {{ value }}
            <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out">
          </label>
        {% endif %}
        {% if is_package %}
          <p class="swatch-package-title">
            {{ value }}
            {% if value == 'Front + Rear' %}
              <span>(Most Popular)</span>
            {% elsif value == 'All Included' %}
              <span>(Save 30%)</span>
            {% endif %}
          </p>
        {% endif %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
