<div class="sq-app">
  <div class="sq-loader"></div>

  <sq-config
    app-id="WWHVLJUE9GEDQYI9XN1LD5DK"
    collection-id="MLLQGSCV3BLNBQDNGA4PSFAN"
    search-token="F1JB7PN3KKUMVP1JHR6JEUY5"
  ></sq-config>
  <sq-url-manager></sq-url-manager>

  <sq-loader-listener parent=".sq-loader"></sq-loader-listener>

  <div class="sq-filter-main" style="visibility:hidden;">
    <div id="overlay" class="sq-overlay" onclick="removeClass()"></div>
    <div class="sq-desktop-filter-header-title">Filter by</div>
    <div class="sq-filter-header">
      <div class="sq-filter-header-title">Filter</div>
      <div class="sq-filter-header-clear">
        <sq-clear>
          <button class="sq-clear-button">Clear All</button>
        </sq-clear>

        <span class="sq-cross" onclick="removeClass()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
                    d="M4.70703 3.29297L3.29297 4.70703L10.5859 12L3.29297 19.293L4.70703 20.707L12 13.4141L19.293 20.707L20.707 19.293L13.4141 12L20.707 4.70703L19.293 3.29297L12 10.5859L4.70703 3.29297Z"
                    fill="#23263B" />
          </svg>
        </span>
      </div>
      <div class="sq-filter-bottom" onclick="removeClass()">
        <span>Apply Filter</span>
      </div>
    </div>
    <div class="sq-mobile-applied-filter">
      <div
        class="sq-applied-filter-wrapper"
        v-if="store.filters?.flatMap(x=>x.items)?.filter(x=>!!x?.selected)?.length > 0"
      >
        <span class="filter-by">Filter By: </span>
        <sq-applied-filter></sq-applied-filter>
      </div>
    </div>
    <div class="sq-filter-wrapper">
      <!--
        <div class="sq-desktop-view-filter">
          <sq-filter-group :top-bar="true"></sq-filter-group>
        </div>
        <div class="sq-mobile-view-filter">
          <sq-filter-group :top-bar="false"></sq-filter-group>
        </div>
      -->
      <sq-filter-group
        v-if="store.results.length && window.sq.getStore(store)"
        :class="window.location.href.includes('/search') ? 'sq-search-p':''"
      >
        <template #header="filter"> </template>
      </sq-filter-group>

      <div class="sq-dropdown" v-if="store.results.length">
        <!-- Sort By: -->
        <sq-sort></sq-sort>
      </div>
    </div>
  </div>

  <div
    class="sparq-container"
    :class="[store.custom.listView ? '--list-view' : '--grid-view',sotre?.results.length > 0 ? '':'empty']"
    style="visibility:hidden;"
  >
    <div
      class="sq-applied-filter-wrapper"
      v-if="store.filters?.flatMap(x=>x.items)?.filter(x=>!!x?.selected)?.length > 0"
    >
      <span class="filter-by">Filter By:</span>
      <sq-applied-filter></sq-applied-filter>
      <sq-clear>
        <div class="sq-clear-button-desktop">Clear All</div>
      </sq-clear>
    </div>
    <div class="sparq-mobile-filter">
      <div class="sparq-mobile-filter-inner">
        <sq-sort></sq-sort>

        <div class="sparq-mobile-filterby" onclick="toggleFilter()">
          <span> Filter</span>
          <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="boost-sd__filter-tree-toggle-button-icon--open" fill-rule="evenodd" clip-rule="evenodd" d="M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z" fill="#222222"></path>

            <mask id="mask0_8095:39389" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z" fill="white"></path>
            </mask>
            <g mask="url(#mask0_8095:39389)"></g>
          </svg>
        </div>
      </div>
    </div>

    <div class="sparq-row-base">
      <div class="sq-right-elements"></div>
    </div>

    <sq-data-grid>
      <template #tpl="item">
        <div class="sparq-card-wrapper">
          <div class="sparq-card" :product-handle="item.handle" :product-id="item.id">
            <!--
              <div
                class="discount-label"
                v-if="item.compare_at_price && item.price && item.compare_at_price > item.price && item.in_stock >=1"
              >
                {% raw %} {{ (((item.compare_at_price - item.price)/item.compare_at_price)*100).toFixed(0) }} {% endraw %}%
                OFF
              </div>
            -->
            <div class="sparq-thumbnail-wrap">
              <div class="sq-soldout-tag" v-if="item.in_stock !==1">Sold Out</div>
              <a
                :href="'/products/' + item.handle"
                class="sparq-loop-product"
                :class="item.images?.length >1 && item.images[1].src ? 'sq-class':''"
              >
                <sq-sy-image :size="700" :item="item" :show-secondary-image="true"></sq-sy-image>
              </a>
            </div>
            <div class="sparq-bottom">
              <div class="sparq-product-title">
                <a :href="'/products/' + item.handle" class="sparq-title">
                  {% raw %} {{ item.title }} {% endraw %}
                </a>
              </div>
              <!-- <sq-review></sq-review> -->
              <div class="sparq-bottom-items">
                <!--
                  <div class="sq-product-price">
                    <sq-sy-price :item="item" :decimal-count="2"></sq-sy-price>
                  </div>
                -->
                <div
                  class="sq-price-main {% if item.handle contains 'kit' or item.handle contains 'bundle' %}bundle{% endif %}"
                  v-if="item.in_stock ==1"
                >
                  <span v-if="item.tags.includes('bundle-15')" class="current-price">
                    {% raw %} RM{{ (item.price * 0.85).toFixed(2) }} {% endraw %}
                  </span>
                  <span v-else-if="item.tags.includes('bundle-20')" class="current-price">
                    {% raw %} RM{{ (item.price * 0.80).toFixed(2) }} {% endraw %}
                  </span>

                  <div v-if="item.tags.includes('bundle-15')" class="sq-child-price-main was-price">
                    <small
                      class="sq-from"
                      v-if="item.variants.length > 1 && item.variants.filter(variant=> variant.price==item.price).length !== item.variants.length"
                      ><em>from</em></small
                    >
                    {% raw %} <div class="sq-compare-price trans-money" v-if="item.compare_at_price" style="text-decoration: line-through" translate="no"> RM{{ item.compare_at_price.toFixed(2) }}</div> {% endraw %}
                    {% raw %} <div class="sq-price trans-money" translate="no">
  
                  RM{{ item.price.toFixed(2) }} </div> {% endraw %}
                  </div>
                  <div v-else-if="item.tags.includes('bundle-20')" class="sq-child-price-main was-price">
                    <small
                      class="sq-from"
                      v-if="item.variants.length > 1 && item.variants.filter(variant=> variant.price==item.price).length !== item.variants.length"
                      ><em>from</em></small
                    >
                    {% raw %} <div class="sq-compare-price trans-money" v-if="item.compare_at_price" style="text-decoration: line-through" translate="no"> RM{{ item.compare_at_price.toFixed(2) }}</div> {% endraw %}
                    {% raw %} <div class="sq-price trans-money" translate="no">
  
                  RM{{ item.price.toFixed(2) }} </div> {% endraw %}
                  </div>
                  <div v-else="" class="sq-child-price-main">
                    <small
                      class="sq-from"
                      v-if="item.variants.length > 1 && item.variants.filter(variant=> variant.price==item.price).length !== item.variants.length"
                      ><em>from</em></small
                    >
                    {% raw %} <div class="sq-compare-price trans-money" v-if="item.compare_at_price" style="text-decoration: line-through" translate="no"> RM{{ item.compare_at_price.toFixed(2) }}</div> {% endraw %}
                    {% raw %} <div class="sq-price trans-money" translate="no">
  
                  RM{{ item.price.toFixed(2) }} </div> {% endraw %}
                  </div>
                </div>
                <div v-else>Sold Out</div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #empty>
        <div class="sq-empty">
          <div>There are no results available!</div>
          <div class="sq-btn-container">
            <a class="sq-btn" href="/collections/all">View All </a>
            <button class="sq-btn" onclick="window.history.back()">Go Back</button>
          </div>
        </div>
      </template>
    </sq-data-grid>
    <sq-pagination
      @change="
        window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
        })
      "
    >
    </sq-pagination>
  </div>
</div>
