<form class="main-rear-filter loaded" id="r-form">
  <div class="r-form-inner">
    {% assign collection = collections.wipers %}

    <div class="r-form-input-wrapper">
      <div class="r-form-input-inner">
        <div class="r-form-input-label">
          <label><span>Select Brand</span></label>
        </div>
        {% assign allBrands = '' | split: ',' %}
        <select class="r-form-select" id="w-brand" name="w-brand" required>
          <option value="">-- Select --</option>
          {%- for collection in collections -%}
            {% if collection.title == 'Wipers' %}
              {% for tag in collection.all_tags %}
                {% if tag contains 'brand:' %}
                  {% assign brandName = tag | split: ',' %}
                  {% assign allBrands = allBrands | push: brandName %}
                  <option value="{{ tag | remove:'brand:' }}">{{ tag | remove: 'brand:' }}</option>
                {% endif %}
              {% endfor %}
            {% endif %}
          {%- endfor -%}
        </select>
      </div>
    </div>

    <div class="r-form-input-wrapper">
      <div class="r-form-input-inner">
        <div class="r-form-input-label">
          <label><span>Select Model</span></label>
        </div>
        <select class="r-form-select" id="w-model" name="w-model" required>
          <option value="">-- Select --</option>

          {%- for collection in collections -%}
            {% if collection.title == 'Wipers' %}
              {% paginate collection.products by 700 %}
                {%- for product in collection.products -%}
                  {% if product.type == 'WIPER' %}
                    {% for tag in product.tags %}
                      {% if tag contains 'brand:' %}
                        {% assign brandName = tag | remove: 'brand:' %}
                      {% endif %}
                      {% if tag contains 'model:' %}
                        <option
                          value="{{ tag | remove:'model:' }}"
                          data-brand="{{ brandName }}"
                          style="display:none"
                        >
                          {{ tag | remove: 'model:' }}
                        </option>
                      {% endif %}
                    {%- endfor -%}
                  {% endif %}
                {%- endfor -%}
              {% endpaginate %}
            {% endif %}
          {%- endfor -%}
        </select>
      </div>
    </div>

    <div class="r-form-input-wrapper">
      <div class="r-form-input-inner">
        <div class="r-form-input-label">
          <label><span>Select Year</span></label>
        </div>
        <select class="r-form-select" id="w-year" name="w-year" required>
          <option value="">-- Select --</option>
          {%- for collection in collections -%}
            {% if collection.title == 'Wipers' %}
              {% paginate collection.products by 400 %}
                {%- for product in collection.products -%}
                  {% if product.type == 'WIPER' %}
                    {% for tag in product.tags %}
                      {% if tag contains 'brand:' %}
                        {% assign brandName = tag | remove: 'brand:' %}
                      {% endif %}
                      {% if tag contains 'model:' %}
                        {% assign modelName = tag | remove: 'model:' %}
                      {% endif %}
                      {% if tag contains 'year:' %}
                        <option
                          value="{{ tag | remove:'year:' }}"
                          data-brand="{{ brandName }}"
                          data-model="{{ modelName }}"
                          style="display:none"
                        >
                          {{ tag | remove: 'year:' }}
                        </option>
                      {% endif %}
                    {%- endfor -%}
                  {% endif %}
                {%- endfor -%}
              {% endpaginate %}
            {% endif %}
          {%- endfor -%}
        </select>
      </div>
    </div>

    <div class="r-form-input-wrapper">
      <div class="r-form-input-inner">
        <div class="r-form-button-group">
          <button type="button" class="wiper-btn">Search</button>
        </div>
      </div>
    </div>
  </div>
</form>

<style>
    #r-form.loaded{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto 25px;
        clear: both;
        padding: 20px;
    }
    #r-form .r-form-inner{
      margin-left: -5px;
      margin-right: -5px;
      align-items: flex-end;
  }
    #r-form .r-form-inner > .r-form-input-wrapper{
      flex: 1 1 25% !important;
      min-width: 180px;
      padding: 5px;
  }
    .r-form-input-label {
      position: relative;
      margin-bottom: 10px;
      align-items: center;
      display: flex;
      justify-content: flex-start;
  }
    #r-form label{
      color: #3a3a3a !important;
      display: block;
      position: relative;
      font-size: 18px !important;
      text-transform: uppercase !important;
      font-weight: 700 !important;
      margin-bottom: 0px !important;
      flex: 0 0 auto !important;
      margin: 0;
      cursor: pointer;
      letter-spacing: 0;
  }
    .r-form-input-wrapper select, .r-form-input-wrapper input {
      border: 1px solid #DEDEDE !important;
      background-color: #FFFFFF !important;
      border-radius: 5px !important;
  }
    .r-form-input-wrapper select{
    font-size: 14px !important;
      color: rgba(23, 64, 109, 1) !important;
      text-transform: none !important;
      font-weight: normal !important;
      width: 100%;
      height: 40px;
      padding: 10px;
      margin: 0;
    }
    .r-form-button-group {
      display: flex;
      flex-wrap: wrap;
  }
    #r-form .r-form-button-group button{
      color: #FFFFFF !important;
      background: rgba(225, 44, 123, 1) !important;
      border-radius: 5px !important;
      font-weight: bold !important;
      text-transform: uppercase !important;
      box-shadow: none;
      cursor: pointer;
      text-align: center;
      font-size: 14px !important;
      border: 1px solid #bfbfbf !important;
      margin: 0;
      padding: 0;
      line-height: 1.2;
      float: left;
      flex: 1 1 48%;
      height: 40px;
      appearance: none;
  }
</style>
