<script
  type="application/json"
  data-section-type="header"
  data-section-id="{{ section.id }}"
>
</script>

{% comment %} Structured data {% endcomment %}
{%- comment smartseo_integration_begin_meta_data -%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": "https:{{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.behance_link }}",
      "{{ settings.clubhouse_link }}",
      "{{ settings.discord_link }}",
      "{{ settings.dribbble_link }}",
      "{{ settings.facebook_link }}",
      "{{ settings.flickr_link }}",
      "{{ settings.houzz_link }}",
      "{{ settings.instagram_link }}",
      "{{ settings.kickstarter_link }}",
      "{{ settings.linkedin_link }}",
      "{{ settings.medium_link }}",
      "{{ settings.messenger_link }}",
      "{{ settings.opensea_link }}",
      "{{ settings.pinterest_link }}",
      "{{ settings.reddit_link }}",
      "{{ settings.rss_link }}",
      "{{ settings.snapchat_link }}",
      "{{ settings.spotify_link }}",
      "{{ settings.tiktok_link }}",
      "{{ settings.tumblr_link }}",
      "{{ settings.twitch_link }}",
      "{{ settings.twitter_link }}",
      "{{ settings.vimeo_link }}",
      "{{ settings.whatsapp_link }}",
      "{{ settings.youtube_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>
{%- endcomment smartseo_integration_end_meta_data -%}
{% if template.name == 'index' %}
  {%- comment smartseo_integration_begin_meta_data -%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{%- endcomment smartseo_integration_end_meta_data -%}  
{% endif %}

{%- include 'header-snippet'  -%}

{% if template contains "product" %}
  {%- include 'announcement-banner' -%}
{% endif %}


{% comment %}{% if template contains "product" %}
  <div class="container breadcrumb-container">
    <div class="sixteen columns mobile-only">
      <a href="javascript:void(0);" class="back-btn" id="back_btn"><span class="b-left"><</span>BACK</a>
    </div>
    <div class="sixteen columns">
      {%- include 'product__breadcrumb' -%}
    </div>
  </div>
{% endif %}
{% endcomment %}
{% if template contains "page" %}
  <div class="container breadcrumb-container-page">
    <div class="sixteen columns">
      {%- include 'page__breadcrumb' -%}
    </div>
  </div>
{% endif %}
{% if template contains "blog" %}
  <div class="container breadcrumb-container-page">
    <div class="sixteen columns">
      {%- include 'blog__breadcrumb' -%}
    </div>
  </div>
{% endif %}
{% if template contains "article" %}
  <div class="container breadcrumb-container-page">
    <div class="sixteen columns">
      {%- include 'article__breadcrumb' -%}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Header",
  "class": "shopify-section--header",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Text",
      "info": "Maximum character limit is 170"
    },
    {
      "type": "header",
      "content": "Top bar"
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Menu",
      "info": "This menu won't show drop-down items"
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "default": "cart",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ]
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Country selector",
      "info": "To add a country, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show country selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Logos"
    },
    {
      "type": "range",
      "id": "logo_display_width",
      "label": "Logo display width",
      "step": 5,
      "min": 105,
      "max": 205,
      "default": 205,
      "unit": "px"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 200px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Secondary logo over content (optional)",
      "info": "400 x 200px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile logo",
      "info": "100 x 50px recommended"
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist2",
      "label": "Secondary menu",
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "vertical_menu",
      "label": "Enable vertical menus",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dropdown_click",
      "label": "Open dropdowns on click instead of hover",
      "default": false
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Show search",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "info": "Applies when menu position has been set to 'Inline with logo'",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "Logo alignment",
      "info": "Applies when menu position has been set to 'Under logo'",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu position",
      "default": "inline",
      "options": [
        {
          "value": "inline",
          "label": "Inline with logo"
        },
        {
          "value": "block",
          "label": "Under logo"
        }
      ]
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "default": "align_left",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ]
    }
  ]
}

{% endschema %}