<div id="gf-form"></div>

<section class="Comfort_style">

  <div class="desktop-only">
  <div id="sparq-container">
    <div class="sq-app">
      <sq-config
          app-id="WWHVLJUE9GEDQYI9XN1LD5DK"
          collection-id="MLLQGSCV3BLNBQDNGA4PSFAN"
          search-token="F1JB7PN3KKUMVP1JHR6JEUY5"
  ></sq-config>
      <sq-url-manager v-once></sq-url-manager>

      <div class="sq-heading-home">Filter</div>
      <div class="sq-home">
        <div class="sq-row-container">
          <div class="sq-filter-home">
            <div class="sq-fix-row">
              <div class="sq-row">
                <div class="sq-col">Brand</div>
                <div class="sq-col">
                  <select @change="window.sq.leftSock(store, $event.target.value)">
                    <option value="" selected disabled>Select Brand</option>
                    <option
                      v-for="opt in window.sq.leftInitial(store)"
                      :value="opt.label"
                      :key="opt.label"
                      class="sq-custom"
                    >
                      {% raw %}{{ opt.displayLabel.toUpperCase() }}{% endraw %}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="sq-socks">
            <button class="sq-button" onclick="window.location.href='/search'+window.location.search">Search</button>
          </div>
        </div>
        <div class="sq-rowsss">
          <div class="image-with-text__image-wrapper">
            <img
              src="//www.individualsocks.com/cdn/shop/files/Screenshot_from_2024-04-05_17-16-15.png?v=1712317626&amp;width=600"
              alt=""
              srcset="//www.individualsocks.com/cdn/shop/files/Screenshot_from_2024-04-05_17-16-15.png?v=1712317626&amp;width=600 600w"
              width="600"
              height="600"
              loading="lazy"
              id="block-22c4fa84-74c1-4815-aa04-e96848e24188-41651582861640"
              sizes="(max-width: 740px) calc(100vw - 96px), (max-width: 999px) calc(100vw - 160px), 600px"
              reveal-visibility="true"
              class="image-with-text__image"
              style="visibility: visible;"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 left">
        <img
          src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Car_Mat_Line_Up-min-homepage_webp-compress.webp"
          alt="Car Mat Lineup"
          width="859"
          height="556"
        >
      </div>
      <div class="col-md-6 col-sm-12 right">
        <h2>
          Comfort or style?<br>
          Why not drive with both.
        </h2>
        <p>
          Our car mats are designed to provide you ultimate comfort on the road <br>
          without compromising style or safety. Plus, it stands the test of time.
        </p>
        <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/car-mats" class="cstm_btn">Explore Car Mats</a>
      </div>
    </div>
  </div>
</section>

<section class="featuredon-section">
  <div class="container">
    <div class="featuredon_row">
      <div class="featuredon_title">
        <h2>Featured On</h2>
      </div>
      <div class="featuredon_block">
        <div class="featuredon-slider">
          <div class="main-slide">
            <a
              href="https://autobuzz.my/2022/07/27/you-can-now-get-your-70mai-dashcams-professionally-installed-at-trapo-outlets"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Autobuzz.png"
                alt="Autobuzz"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://www.carlist.my/news/trapo-car-mats-you-owe-it-to-yourself-and-your-vehicle-82998/82998"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Carlist_2563a58e-8a20-4a73-952c-8bf6e9d19c0c.png"
                alt="Carlist"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://www.nst.com.my/news-cars-bikes-trucks/2023/04/896000/trapo-malaysia-products-now-available-touch-n-go-ewallet"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/NST.png"
                alt="New Strait Times"
              >
            </a>
          </div>
          <div class="main-slide">
            <a href="https://www.theweddingvowsg.com/best-dash-cam-malaysia-2024/" target="_blank">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/tmw-logo.png?v=1717132902"
                alt="The Wedding Vow"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://www.thestar.com.my/metro/metro-news/2018/11/15/pitching-their-way-to-top-placing/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/TheStar_5c54502a-4306-42f5-a43a-48cb94557f4e.png"
                alt="The Star"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://paultan.org/2021/10/28/ad-trapo-launches-next-generation-of-its-classic-eco-and-hex-car-mats-now-up-to-10-times-more-durable/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Paultan.png"
                alt="Paultan"
              >
            </a>
          </div>
          <div class="main-slide">
            <a href="#" target="_blank">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Autoworld_0f6dd03a-79da-470a-a446-30d85730daa1.png"
                alt="Autoworld"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://worldofbuzz.com/sanitizing-your-hands-is-not-enough-6-items-in-msians-cars-that-collect-tons-of-bacteria/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/World-Of-Buzz.png"
                alt="World of Buzz"
              >
            </a>
          </div>
          <div class="main-slide">
            <a href="https://themalaysianreserve.com/2020/07/08/keeping-the-car-clean-and-virus-free/" target="_blank">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/The_Malaysian_Reserve.png"
                alt="The Malaysian Reserve"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://soyacincau.com/2021/07/15/trapo-floor-mat-review-malaysia-classic-mark-ii-2/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/SoyaCincau.png?v=1691382243"
                alt="SoyaCincau"
              >
            </a>
          </div>
          <div class="main-slide">
            <a href="https://says.com/my/lifestyle/trapo-passes-endeavor-s-local-selection-panel-2021" target="_blank">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Says_57945f1f-5743-418c-8bc7-35db23bb9c5a.png"
                alt="Says"
              >
            </a>
          </div>
          <div class="main-slide">
            <a
              href="https://www.freemalaysiatoday.com/category/leisure/2021/10/07/local-brand-trapo-impresses-business-leaders-with-recyclable-car-mats/"
              target="_blank"
            >
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/FMT_811a5191-5593-4fdd-8969-e6dbb34a5972.png"
                alt="FMT"
              >
            </a>
          </div>
          <div class="main-slide">
            <a href="https://productnation.co/my-bm/28397/wiper-kereta-terbaik-malaysia/#p-118383" target="_blank">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/ProductNation_Logo_Original.webp?v=1713931820"
                alt="Productnation"
                style="filter: grayscale(100%);"
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explore-section">
  <div class="container">
    <h3 class="sec_title">Explore The Range</h3>
    <div class="explore-slider">
      <div class="main-slide">
        <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/car-accessories">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/range_all.webp"
            alt="Explore our complete car accessories range!"
          >
        </a>
      </div>
      <div class="main-slide">
        <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-dash-cams">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/range_dashcam.png"
            alt="Dash Cams"
          >
        </a>
      </div>
      <div class="main-slide">
        <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-wipers">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/range_wiper.png"
            alt="Car Wipers"
          >
        </a>
      </div>
      <div class="main-slide">
        <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-phone-holders">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/range_phoneholder-1688545989845.jpg"
            alt="Phone Holders"
          >
        </a>
      </div>
      <div class="main-slide">
        <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-care-products">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/range_carcare-1688546006635_1.webp"
            alt="Car Care"
          >
        </a>
      </div>

      <div class="main-slide">
        <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/car-air-purifiers">
          <img
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/range_purifier-1687328242040.png"
            alt="Air Purifiers"
          >
        </a>
      </div>
      <div class="main-slide">
        <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/snap-fit-leather-car-seat">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/range_snapfit-1688546061382.jpg"
            alt="Snapfit"
          >
        </a>
      </div>
    </div>
  </div>
</section>

<section class="cars_shop">
  <div class="container">
    <h1 class="sec_title">Car Accessories Shop</h1>
    <div class="tabs">
      <ul id="tabs-nav">
        <li><a href="#OurPicks">Our Picks</a></li>
        <li><a href="#CarBrands">Shop By Car Brands</a></li>
        <li><a href="#Trending">Trending</a></li>
      </ul>
      <div id="tabs-content">
        <div id="OurPicks" class="tab-content">
          {% include 'what-hot-2' %}
        </div>
        <div id="CarBrands" class="tab-content">
          {% include 'what-hot-3' %}
        </div>
        <div id="Trending" class="tab-content">
          {% include 'what-hot-1' %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="whats_new">
  <div class="container">
    <h3 class="sec_title">See What's New</h3>
    <div class="whats_new_row">
      <div class="whats_new_item">
        <div class="img_box">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://my.trapo.asia/cdn/shop/files/website_whatsnew_desktop_xtreme_new.webp?v=1690885916"
            alt="Trapo Xtreme 3D Mats"
          >
        </div>
        <div class="whats_new_cotent">
          <h3>
            Trapo Xtreme <br>
            3D Mats
          </h3>
          <p>Unlock the ultimate surface armor with Trapo’s 3D car mats now!</p>
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/trapo-xtreme">Learn More</a>
        </div>
      </div>
      <div class="whats_new_item">
        <div class="img_box">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://my.trapo.asia/cdn/shop/files/page_bundle_starwars_mobile-1688546148811_1.webp"
            alt="Star WarsBundle Pack"
          >
        </div>
        <div class="whats_new_cotent">
          <h3>
            Star Wars<br>
            Bundle Pack
          </h3>
          <p>Join the dark side with our limited edition car accessories!</p>
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/star-wars">Learn More</a>
        </div>
      </div>
      <div class="whats_new_item">
        <div class="img_box">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://my.trapo.asia/cdn/shop/files/page_services_mobile-1688546183068.jpg"
            alt="Premium Services"
          >
        </div>
        <div class="whats_new_cotent">
          <h3>
            Premium<br>
            Services
          </h3>
          <p>Drop by any of our hubs and enjoy our top-notch services today!</p>
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/trapo-offline-services">Learn More</a>
        </div>
      </div>
      <div class="whats_new_item">
        <div class="img_box">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://my.trapo.asia/cdn/shop/files/page_carclub_mobile-1688546165938.jpg"
            alt="Car Care Bundle Pack"
          >
        </div>
        <div class="whats_new_cotent">
          <h3>
            Car Care<br>
            Bundle Pack
          </h3>
          <p>Check out this bundle to keep your ride beaming 24/7</p>
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/bundle">Learn More</a>
        </div>
      </div>
    </div>
    <div class="whats_new_row_mobile">
      <div class="whats_new_item">
        <div class="img_box">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://my.trapo.asia/cdn/shop/files/website_whatsnew_desktop_xtreme_new.webp?v=1690885916"
            alt="Trapo Xtreme 3D Mats"
          >
        </div>
        <div class="whats_new_cotent">
          <h3>Trapo Xtreme 3D Mats</h3>
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/trapo-xtreme">Learn More</a>
        </div>
      </div>
      <div class="whats_new_item">
        <div class="img_box">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://my.trapo.asia/cdn/shop/files/page_bundle_starwars_mobile-1688546148811_1.webp"
            alt="Star WarsBundle Pack"
          >
        </div>
        <div class="whats_new_cotent">
          <h3>Star Wars Bundle Pack</h3>
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/star-wars">Learn More</a>
        </div>
      </div>
      <div class="whats_new_item">
        <div class="img_box">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://my.trapo.asia/cdn/shop/files/page_services_mobile-1688546183068.jpg"
            alt="Premium Services"
          >
        </div>
        <div class="whats_new_cotent">
          <h3>Premium Services</h3>
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/pages/trapo-offline-services">Learn More</a>
        </div>
      </div>
      <div class="whats_new_item">
        <div class="img_box">
          <img
            loading="lazy"
            class="lazyload"
            data-src="https://my.trapo.asia/cdn/shop/files/page_carclub_mobile-1688546165938.jpg"
            alt="Car Care Bundle Pack"
          >
        </div>
        <div class="whats_new_cotent">
          <h3>Car Care Bundle Pack</h3>
          <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/collections/bundle">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why_trapo">
  <div class="container">
    <div class="why_trapo_row">
      <div class="why_trapo_item">
        <h3 class="why_trapo_title">
          Why Trapo?<br>
          Why Not?
        </h3>
      </div>
      <div class="why_trapo_item">
        <img
          loadin="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/icon_delivery-1687857807354.svg"
          alt="Free Shipping"
          width="65px"
          height="65px"
        >
        <h3>
          Free <br>
          Shipping
        </h3>
        <p>Enjoy FREE shipping rates for West Malaysia!</p>
      </div>
      <div class="why_trapo_item">
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/icon_support-1687857878290.svg"
          alt="8am-11pm Online Customer Support"
          width="65px"
          height="65px"
        >
        <h3>8am-11pm Online Customer Support</h3>
        <p>Got inquiries? No problem, enjoy premium customer support at your service!</p>
      </div>
      <div class="why_trapo_item">
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/icon_return-1687857842057.svg"
          alt="7 Days Return Policy"
          width="65px"
          height="65px"
        >
        <h3>7 Days Return Policy</h3>
        <p>Not feeling it? Don’t worry, feel free to return any of your TRAPO items within 7 days at no cost.</p>
      </div>
      <div class="why_trapo_item">
        <img
          loading="lazy"
          class="lazyload"
          data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/icon_warranty-1687857893817.svg"
          alt="Up to 5-Year Warranty"
          width="65px"
          height="65px"
        >
        <h3>Up to 5-Year Warranty</h3>
        <p>Enjoy a longer product lifespan with our up to 5-Year product</p>
      </div>
    </div>
  </div>
</section>

<section class="happy_customer">
  <div class="container">
    <div class="happy_cstmr_row">
      <h2 class="happy_cstmr_title">
        Our Happy <br>
        Customers
      </h2>
      <div class="happy_cstmr_slider">
        <div class="reviews-slider">
          <div class="slider_item">
            <div class="img_box">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/testi_2-1689062603452.png"
                alt="Honda City GM6 E,V, Hybrid Spec (2017-2019)"
              >
            </div>

            <div class="slider_content">
              <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/products/honda-city-gm6-e-v-hybrid-spec-2017-2019-trapo-classic"
                >Honda City GM6 E,V, Hybrid Spec (2017-2019)</a
              >
              <h4>Great product, Great packaging</h4>
              <p>
                “Packaging is neat and nice, giving a free big woven bag for us to keep our original car mat. Fitting
                wise, it's good too. Finally a different kind of car mat in the market, getting bored and frustrated by
                typical maggie mat.”
              </p>
              <span class="cstmr_name">- jane k.</span>
            </div>
          </div>
          <div class="slider_item">
            <div class="img_box">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/testi_1-1689062570213.png"
                alt="TRAPO Hydrophobic Wiper Blade"
              >
            </div>

            <div class="slider_content">
              <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/products/car-hydrophobic-wiper-blade"
                >TRAPO Hydrophobic Wiper Blade</a
              >
              <h4>Great Wiper</h4>
              <p>
                “This wiper supported many type of car wiper hanger, also have strong pressure to push and swipe on
                windscreen.”
              </p>
              <span class="cstmr_name">- Kent L.</span>
            </div>
          </div>
          <div class="slider_item">
            <div class="img_box">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/testi_3-1689062627073.png"
                alt="Trapo Hydrophic Wiper Blades"
              >
            </div>

            <div class="slider_content">
              <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/products/car-hydrophobic-wiper-blade"
                >Trapo Hydrophic Wiper Blades</a
              >
              <h4>Works excellently!!</h4>
              <p>“Love them. Super smooth and perfectly wipes the window clear even during heavy rains.”</p>
              <span class="cstmr_name">- Pohvin O.</span>
            </div>
          </div>
          <div class="slider_item">
            <div class="img_box">
              <img
                loading="lazy"
                class="lazyload"
                data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/testi_4-1689062641521.png"
                alt="Trapo Antibac Car Spray"
              >
            </div>

            <div class="slider_content">
              <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/products/car-anti-bacteria-spray"
                >Trapo Antibac Car Spray</a
              >
              <h4>Love it</h4>
              <p>
                “Been using this Antibac spray for a while now. I like the clear quartz smell, as it is not
                overwhelming, quite neutral in its scent. Very easy to use, i just leave it overnight at night and deal
                with the empty can in the morning”
              </p>
              <span class="cstmr_name">- Ahmad Aklam S.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="experience">
  <div class="container">
    <div class="experience_block">
      <div class="left">
        <h3 class="expe_title">
          Experience the <br>
          range today.
        </h3>
        <p class="expe_desc">Find the nearest Trapo retail near you.</p>
        <a href="/pages/location" class="locate_us">locate us</a>
      </div>
      <div class="right">
        <div class="left-sec">
          <ul class="map-items-wrapper">
            <li>
              <div class="map-item">
                <a class="map-heading" data-id="location-1">Mid Valley Hub</a>
                <div class="map-body">
                  <div>
                    <p>SK-12, 2nd Floor Mid Valley City, Lingkaran Syed Putra, Mid Valley City</p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+KL+Car+Mats+Mid+Valley+Hub/@3.1167409,101.6773089,15z/data=!4m2!3m1!1s0x0:0x9fd5987c7f45168a?sa=X&amp;ved=2ahUKEwjPltzuzt32AhUzzjgGHVtqATgQ_BJ6BAgUEAU"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-2">Trapo 1 Utama</a>
                <div class="map-body">
                  <div>
                    <p>
                      1 Utama Shopping Centre, 1, Lebuh Bandar Utama, Bandar Utama, 47800 Petaling Jaya, Selangor,
                      Malaysia
                    </p>
                    <a
                      href="https://www.google.com/maps/place/Trapo+1+Utama/@3.147911,101.6137664,17z/data=!3m1!4b1!4m6!3m5!1s0x31cc49671097e591:0xf513c3d1ace68fb3!8m2!3d3.147911!4d101.6159551!16s%2Fg%2F11tp9pm3gn?hl=en-RO"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-3">TRAPO Balakong</a>
                <div class="map-body">
                  <div>
                    <p>27-G Jalan Simfoni 1 Balakong, 43300 Seri Kembangan, Selangor, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/dir//trapo+balakong/@3.0261575,101.6811952,12z/data=!3m1!4b1!4m9!4m8!1m1!4e2!1m5!1m1!1s0x31cdcbbc553478cd:0x6b3b20173218dc8d!2m2!1d101.7512358!2d3.0261598"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-4">Trapo Bangsar Hub</a>
                <div class="map-body">
                  <div>
                    <p>75, Jalan Maarof, Bangsar, 59000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/place/Trapo+Bangsar+Hub/@3.1310563,101.663889,15z/data=!4m6!3m5!1s0x31cc4929b4ce44b1:0xfd55544ae91447c3!8m2!3d3.1310563!4d101.6726438!15sCgV0cmFwbyIDiAEBkgEVY2FyX2FjY2Vzc29yaWVzX3N0b3Jl?shorturl=1"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-5">Trapo Cheras Maluri Hub</a>
                <div class="map-body">
                  <div>
                    <p>15, Jalan Jejaka 3, Maluri, 55100 Cheras, Wilayah Persekutuan Kuala Lumpur, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+Car+Mats+Cheras+Maluri+Hub/@3.1274414,101.7276613,17z/data=!3m1!4b1!4m5!3m4!1s0x31cc37472e5a4411:0xc8496c81ae70994!8m2!3d3.127436!4d101.72985"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-6">Trapo Desa Park City Hub</a>
                <div class="map-body">
                  <div>
                    <p>
                      5, Persiaran Residen, Desa Parkcity, 52200 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur,
                      Malaysia
                    </p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+Car+Mats+The+Waterfront+Hub+@+Desa+ParkCity/@3.1878394,101.6297491,15z/data=!4m5!3m4!1s0x0:0x23ddf4a554e99cff!8m2!3d3.1873091!4d101.6272332"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item" style="display: block;">
                <a class="map-heading" data-id="location-7">Trapo Glenmarie Hub</a>
                <div class="map-body">
                  <div>
                    <p>17-G, Jalan Penguasa A U1/53A, TEMASYA GLENMARIE, 40150 Shah Alam, Selangor, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+Glenmarie+Hub/@3.0879705,101.5782913,15z/data=!4m5!3m4!1s0x0:0xe04a194044664a7!8m2!3d3.0879705!4d101.5782913"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item">
                <a class="map-heading" data-id="location-8">Trapo Kuching, Sarawak</a>
                <div class="map-body">
                  <div>
                    <p>No. 89, Lot 7615, Jalan Wan Alwi, Taman Wan Alwi, 93250 Kuching, Sarawak, Malaysia</p>
                    <a href="https://goo.gl/maps/dGoSZK8tQ6SkZyez8" target="_blank" class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item">
                <a class="map-heading" data-id="location-9">Trapo Melaka Raya Hub</a>
                <div class="map-body">
                  <div>
                    <p>177, Jln Merdeka, Taman Melaka Raya, 75000 Melaka, Malaysia</p>
                    <a
                      href="https://www.google.com/maps/place/TRAPO+Car+Mats+Melaka+Raya+Hub/@2.1884185,102.2525614,17z/data=!3m1!4b1!4m5!3m4!1s0x31d1ee1e06dbaf4f:0x3a672560b928eef7!8m2!3d2.1884131!4d102.2547501"
                      target="_blank"
                      class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="map-item">
                <a class="map-heading" data-id="location-10">Trapo Pulau Tikus Penang</a>
                <div class="map-body">
                  <div>
                    <p>2, Persiaran Midlands, Pulau Tikus, 10250 George Town, Pulau Pinang, Malaysia</p>
                    <a href="https://goo.gl/maps/WbMyBWAxoGyBSFEbA" target="_blank" class="action_button direction"
                      >Direction</a
                    >
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="right-sec">
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/mid_valley.jpg"
            class="locimg active lazyload"
            id="loc-img-1"
            alt="Mid Valley Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1_utama.jpg"
            class="locimg lazyload"
            id="loc-img-2"
            alt="Trapo 1 Utama"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/balakong.jpg"
            class="locimg lazyload"
            id="loc-img-3"
            alt="TRAPO Balakong"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bangsar_de2e71c8-fa6e-49b2-96f0-0862d9fb11f8.jpg"
            class="locimg lazyload"
            id="loc-img-4"
            alt="Trapo Bangsar Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cheras.jpg"
            class="locimg lazyload"
            id="loc-img-5"
            alt="Trapo Cheras Maluri Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/desa_park.jpg"
            class="locimg lazyload"
            id="loc-img-6"
            alt="Trapo Desa Park City Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/glenmarie.jpg"
            class="locimg lazyload"
            id="loc-img-7"
            alt="Trapo Glenmarie Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/kuching_dc5d96ae-a15e-47f9-a712-dff2cdff6af5.jpg"
            class="locimg lazyload"
            id="loc-img-8"
            alt="Trapo Kuching, Sarawak"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/melaka_raya.jpg"
            class="locimg lazyload"
            id="loc-img-9"
            alt="Trapo Melaka Raya Hub"
          >
          <img
            loading="lazy"
            data-src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/penang.jpg"
            class="locimg lazyload"
            id="loc-img-10"
            alt="Trapo Pulau Tikus Penang"
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="featured_news">
  <div class="container">
    <h3 class="sec_title">featured news</h3>
    <div class="featured_news_row">
      {% assign blog_handles = 'blog-posts-by-trapo' %}
      {% assign blog_list = blog_handles | split: ';' %}

      {% for blog_handle in blog_list %}
        {% for article in blogs[blog_handle].articles limit: 3 %}
          <div class="news_item">
            <img
              loading="lazy"
              class="lazyload"
              data-src="{{ article.image.src | img_url: '512x' }}"
              alt="{{ article.title }}"
            >
            <div class="new_content">
              <a class="news_title" href="{{ article.url }}">{{ article.title }}</a>
              <p>{{ article.excerpt | strip_html | truncatewords: 19 }}</p>
              <a href="{{ article.url }}" class="read_more"
                >read more<i class="pfa pfa-caret-right" data-pf-type="Icon"></i
              ></a>
            </div>
          </div>
        {% endfor %}
      {% endfor %}

      <!--
        <div class="news_item">
            <img loading="lazy" class="lazyload" data-src="https://my.trapo.asia/cdn/shop/articles/pexels-pixabay-357861.jpg?v=1691393415" alt="">
            <div class="new_content">
                <a class="news_title" href="#">Elevate Your Driving Experience with These Essential Car Accessories</a>
                <p>Unsure of which car accessories are worth the splurge? Here's a curated list just for you. Discover which car</p>
                <a href="#" class="read_more">read more<i class="pfa pfa-caret-right" data-pf-type="Icon"></i></a>
            </div>
        </div>
        <div class="news_item">
            <img loading="lazy" class="lazyload" data-src="https://my.trapo.asia/cdn/shop/articles/pexels-pixabay-33488.jpg?v=1690773039" alt="">
            <div class="new_content">
                <a href="#" class="news_title">Finding the Perfect Spot: Where to Put a Phone Holder in Your Car</a>
                <p>Find the perfect spot for your phone holder in the car to stay connected safely while driving. Explore windshield</p>
                <a href="#" class="read_more">read more<i class="pfa pfa-caret-right" data-pf-type="Icon"></i></a>
            </div>
        </div>
        <div class="news_item">
            <img loading="lazy" class="lazyload" data-src="https://my.trapo.asia/cdn/shop/articles/rsz_xtreme_pd_marketplace_for_edm_2.jpg?v=1690087018" alt="">
            <div class="new_content">
                <a href="#" class="news_title">The Benefits of Using 3D Car Mats: Why Upgrade from Traditional Mats?</a>
                <p>Explore the benefits of upgrading to 3D car mats, including superior protection, a custom fit, and easy maintenance. Find</p>
                <a href="#" class="read_more">read more<i class="pfa pfa-caret-right" data-pf-type="Icon"></i></a>
            </div>
        </div>
      -->
    </div>
    <a href="{% if shop.locale == 'ms' %}/ms{% endif %}/blogs/blog-posts-by-trapo" class="more_news">more trapo news</a>
  </div>
</section>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<style>
      .left-sec{
        width: 40%;
        float: left;
        padding-right: 15px;
      }

      .right-sec{
        width: 60%;
        float: left;
      }

      ul.map-items-wrapper{
        height: 500px;
        overflow-y: scroll;
        list-style: none;
        padding-left:0;
        margin:0;
      }

      ul.map-items-wrapper li{
        padding: 8px 16px;
        border: 1px solid #dfe0e0;
        border-radius: 3px;
      }

      .map-item a.map-heading{
        font-family: Roboto !important;
        font-weight: 600 !important;
        font-size: 18px;
        line-height:20px;
        margin: 10px 0;
        display: block;
        cursor: pointer;
  	      color: #e82276;
      }
      .map-item a.map-heading:hover{
        text-decoration:underline;
      }
      .map-item .map-body div p{
        text-align: justify;
        margin: 0 0 5px;
        font-style: normal;
        font-family: Roboto !important;
        font-weight: normal !important;
        font-size: 14px !important;
        line-height: 16px !important;
      }

      .right-sec img{
        width:100%;
        display:none
      }
      .right-sec img.active{
        display:block;
      }
      .map-item .map-body div a.action_button.direction{
  		color: #fff;
  		border-radius: 30px;
  		font-weight: 600;
  		letter-spacing: 1px;
  		font-family: 'Roboto'!important;
  		font-size: 14px;
  		line-height: normal;
  		padding: 10px 20px;
  		text-align: center;
  		background: #e82276;
  		padding-top: 13px;
  		vertical-align: middle;
  		display: inline-flex;
  		width: auto;
      }
    .js-product-slider .flickity-prev-next-button svg{
      top: 25%;
    }
     .js-product-slider .flickity-prev-next-button.next {
      right: -1px;
  }

      @media (max-width: 767px){
        .banner .caption.position-left {
      left: 0;
      bottom: 50%;
  }
        .homepage-slideshow .flickity-prev-next-button{
          width:10%;
        }
        .left-sec{
        width: 100%;
        padding-right: 0px;
      }

      .right-sec{
        width: 100%;
      }
        /*.explore-slider .next-arrow,.whats_new_row_mobile .next-arrow{
          right: 0px !important;
        }
        .explore-slider .slick-arrow,.whats_new_row_mobile .slick-arrow{
          left:10px !important;
        }*/
      }
</style>

<style>
      .experience{
          padding-block: 20px;
      }
      .experience_block {
          display: grid;
          align-items: center;
          grid-template-columns: 42% auto;
      }
      .experience .expe_title{
          font-size: 60px;
          line-height: 112%;
          margin-bottom: 15px;
          font-weight: 700;
          color: #1b3d6d;
          font-family: "Roboto" !important;
  		text-transform:initial;
      }
      .experience .expe_desc{
          font-size: 19px;
          line-height: 27px;
          margin-bottom: 30px;
          letter-spacing: 0.01em;
          color:#1b3d6d;
      }
      .locate_us {
          background-image: none;
          background-color: #d82477;
          box-shadow: #000000bf 5px 2px 11px -5px;
          font-weight: 600;
          padding: 14px 20px 13px;
          letter-spacing: 1px;
          max-width: 190px;
          color: #fff!important;
          font-family: "Roboto" !important;
          width: 100%;
          display: block;
          text-align: center;
          line-height: 1;
          border-radius: 50px;
          margin: 0;
          text-transform: capitalize;
      }
      div.container {
          max-width: 1440px;
          margin-inline: auto;
          padding: 0 15px;
      }

      .cstm_btn {
          font-family: "Roboto" !important;
  		display: inline-block;
  		font-size: 14px;
  		background-color: #ee2a7b;
  		padding: 15px 25px;
  		border-radius: 50px;
  		border: 1px solid #ee2a7b;
  		font-weight: 700;
  		color: #fff !important;
  		line-height: 16px;
  		text-align: center;
  		text-transform: uppercase;
  		margin-right: 30px;
      }

      .Comfort_style {
          background: #f8f8f8;
          padding-block: 70px 20px;
          overflow: hidden;
      }

      .Comfort_style .row {
          align-items: flex-end;
      }

      .Comfort_style img {
          width: 100%;
          height: auto;
      }

      .Comfort_style h2 {
              font-size: 51px;
  			font-weight: 700;
  			line-height: 112%;
  			color: #173f6d;
  			text-transform: initial;
  			letter-spacing:0
      }

      .Comfort_style p {
          font-weight: 400;
          letter-spacing: 0.01em;
          font-size: 19px;
          line-height: 27px;
          margin-bottom: 20px;
          color: #1b3d6d;
          font-family: "Roboto" !important;
      }

      .Comfort_style .left img {
          margin-bottom: -80px;
      }

      .Comfort_style .right {
          padding-left: 50px;
      }

      .sec_title {
          text-align: center;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 5px;
          font-weight: 700;
          font-family: "Roboto" !important;
          text-transform: uppercase;
      }

      #tabs-nav {
          text-align: center;
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
        margin-bottom:20px;
      }

      #tabs-nav li {
          margin: 0;
          border-bottom: 1px solid transparent;
          transition: all 0.3s ease-in-out;
      }

      #tabs-nav li.active {
          border-bottom: 1px solid #e82276;
      }

      #tabs-nav a {
          font-family: "Roboto";
          color: #a0a0a0 !important;
          padding: 12px 20px;
          display: block;
          font-size: 14px!important;
          font-weight: 700!important;
          text-transform: uppercase!important;
          line-height: 16px!important;
      }
      #tabs-nav li.active a{
        color: #e82276!important;
      }
      .whats-hot-slider .thumbnail .title {
          font-size: 16px!important;
          margin-top: 10px!important;
          margin-bottom: 0px!important;
          text-transform: initial!important;
          text-align: center!important;
          font-family: 'Roboto' !important;
          color: grey!important;
          font-weight: 700!important;
          line-height: 20px!important;
          min-height: 40px !important;
  		letter-spacing: 0px;
      }
    .whats-hot-slider .thumbnail .price span.money {
      font-family: 'Roboto' !important;
      font-weight: 600!important;
      color: #e82276 !important;
  	font-size:16px;
  }
    .whats-hot-slider .thumbnail .price .was_price span.money {
      font-family: 'Roboto' !important;
      font-weight: 500!important;
      color: grey!important;
  	font-size:14px;
  }
  .whats-hot-slider .okeReviews .okeReviews-reviewsSummary-starRating{
    display:none;
  }
      .whats_new{
          padding-block: 20px;
      }
    .whats_new .container,.featured_news .container{
      display:inherit;
    }
      section div.container{
          max-width: 1240px;
      }
      .whats_new_row{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap:15px
      }
      .whats_new_row .whats_new_item{
          position: relative;
      }
      .whats_new_row .whats_new_item .img_box img{
          width: 100%
      }
      .whats_new_row .whats_new_item .whats_new_cotent{
          position: absolute;
          bottom: 50px;
          text-align: center;
          color: #fff;
          left: 50%;
          transform: translate(-50%,0);
          max-width: 225px;
          width: 100%
      }
      .whats_new_row .whats_new_item .whats_new_cotent h3{
          color: #fff;
          font-size: 18px;
          font-family: Roboto !important;
          margin-bottom: 8px;
          text-transform: inherit;
          letter-spacing: 0;
          font-weight: 700;
          line-height: 27px;
      }
      .whats_new_row .whats_new_item .whats_new_cotent p{
          font-size: 14px;
          line-height: 16px;
      }
      .whats_new_row .whats_new_item .whats_new_cotent a{
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          font-family: "Roboto";
          text-decoration: underline;
          text-underline-offset: 5px;
        font-weight:500;
      }
      .why_trapo{
          background: #1b3d6d;
          padding-block: 60px;
          color: #fff;
      }
      .why_trapo_row {
          display: grid;
          grid-template-columns: 35% 1fr 1fr 1fr 1fr;
          gap: 15px;
      }
      .why_trapo_item h3{
         font-family: "Roboto" !important;
  		font-size: 22px;
  		line-height: 112%;
  		margin-block: 10px 5px;
  		color: #fff;
  		font-weight: 700;
  		text-transform: inherit;
  		letter-spacing: 1px;
      }
      .why_trapo_item .why_trapo_title {
          font-size: 52px;
          font-weight: 400;
      }
      .why_trapo_item p{
          font-size: 18px;
          line-height: 118%;
          font-family: "Roboto" !important;
          font-weight: 400;
      }
      section.featured_news {
          padding-block: 20px;
        padding-bottom:0px;
      }
      .featured_news_row{
          display: flex;
          justify-content: space-between;
          gap:20px;
      }
      .featured_news_row .news_item{
          background: #f7f7f7;
          width:100%;
      }
      .featured_news_row .news_item .new_content{
          background: #f7f7f7;
          padding: 15px 15px 20px;
      }
      .featured_news_row .news_item img {
          width: 100%;
          height: 380px;
          object-fit: cover;
      }
      .featured_news_row .news_title{
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 25px;
          line-height: 116%;
          margin-bottom: 15px;
          color: #1b3d6d;
          font-family: "Roboto";
          font-weight: 700;
      }
      .featured_news_row p{
          margin-bottom: 30px;
          text-align: left;
          line-height: 24px;
          font-size: 16px;
          letter-spacing: .19px;
          color: gray!important;
          font-weight: 400!important;
          margin-top: 0!important;
      }
      .featured_news_row .read_more{
          font-family: "Roboto";
          color: #1b3d6d;
          font-size: 16px;
          text-align: left;
          line-height: 16px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 600;
      }
      .featured_news_row .read_more i{
          margin-left: 10px
      }
      .more_news {
          font-family: "Roboto";
          font-size: 16px;
          padding: 10px 25px;
          border: 1px solid #1b3d6d;
          line-height: 1.5em;
          background-color: #24242400;
          text-transform: uppercase;
          margin-top: 30px;
          display: block;
          margin-inline: auto;
          max-width: 210px;
          width: 100%;
          text-align: center;
          border-radius: 5px;
          color: #1b3d6d !important;
          font-weight:700;
      }
      .happy_customer{
          background: #4274af;
          padding-block:50px
      }
      .happy_cstmr_title{
          margin: 0;
  		font-size: 54px;
  		color: #fff;
  		line-height: 112%;
  		font-family: "Roboto" !important;
  		font-weight: 400;
  		position: absolute;
  		top: 50%;
  		left: 0;
  		transform: translate(0, -50%);
  		text-transform: inherit;
  		letter-spacing: 0;
      }
      .happy_cstmr_row{
          position: relative;
      }
      .happy_cstmr_slider{
          width: calc(100% - 450px);
          margin-left: auto;
      }
      .happy_cstmr_slider .slider_item{
          display: grid;
          grid-template-columns: 30% auto;
          align-items: center;
          gap:30px;
      }
      .happy_cstmr_slider .slider_item img{
          width: 100%;
      }
      .happy_cstmr_slider .slider_content a{
          font-size: 15px;
          font-weight: 400;
          color: #fff;
          text-decoration: underline;
          font-family: "Roboto" !important;
      }
      .happy_cstmr_slider .slider_content h4{
          font-size: 28px;
          line-height: 30px;
          color: #fff;
          margin-bottom: 5px;
          font-family: "Roboto" !important;
  		text-transform: inherit;
  		letter-spacing: 0;
      }
      .happy_cstmr_slider .slider_content p{
          font-size: 22px;
          color: #fff;
          font-style: italic;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 5px;
      }
      .happy_cstmr_slider .slider_content .cstmr_name{
          font-size: 16px;
          margin-top: 15px;
          line-height: 1.5em;
          font-family: "Roboto" !important;
          color: #fff;
          font-weight: 400;
          text-transform: capitalize;
      }
      .featuredon-section .main-slide img{
          width: 100%;
      }
      .featuredon-section{
          padding-block:50px
      }
      .featuredon-section .featuredon_row{
          position: relative;
          display: block;
          height: 100%;
      }
      .featuredon-section .featuredon_row .featuredon_title{
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
      }
      .featuredon-section .featuredon_row .featuredon_title h2{
          margin: 0;
          text-transform: uppercase;
          font-size: 20px;
          color: #a0a0a0;
          font-family: "Roboto" !important;
  		font-weight: 700;
  		letter-spacing: 0;
  		padding-top: 13px;
      }
      .featuredon-section .featuredon_block{
          width: calc(100% - 240px);
          margin-left: auto;
          padding-inline:60px;
          position: relative;
      }
      .featuredon-section .featuredon_block .prev-arrow{
          position: absolute;
          top: 50%;
          left: -40px;
          transform: translate(0, -50%);
      }
      .featuredon-section .featuredon_block .next-arrow{
          position: absolute;
          top: 50%;
          right: -40px;
          transform: translate(0, -50%);
      }
      .featuredon-section .slick-track{
          display: flex;
          align-items: center;
      }
      .featuredon-section .slick-list .slick-slide{
          padding-inline:15px;
      }

      .featuredon-slider .slick-arrow{
          padding: 0;
          width: 30px;
          height: 25px;
          background: transparent;
          border: 0;
          box-shadow: none;
      }
      .featuredon-slider .slick-arrow::after{
          content: "";
          position: absolute;
          left: 10px;
          z-index: 11;
          display: block;
          width: 15px;
          height: 15px;
          border-top: 3px solid #808080;
          border-left: 3px solid #808080;
              transform:rotate(-45deg)
      }
      .featuredon-slider .next-arrow::after{
              transform:rotate(-225deg);
          left: 5px
      }


      .explore-section{
          margin-top: 20px;
      }
    .explore-section .container,.featuredon-section .container,.container.js-product-slider,.cars_shop .container,
    .happy_customer .container{
      position: relative;
      margin: 0 auto;
      display: inherit;
    }
      .cars_shop{
          margin-top: 50px;
      }
      .explore-slider .slick-list{
          margin-inline: -10px;
      }
      .explore-slider .slick-list .main-slide{
          padding-inline: 10px;
      }
      .explore-section img{
          width: 100%;
      }
      .explore-slider .slick-arrow,.reviews-slider .slick-arrow,.whats_new_row_mobile .slick-arrow{
          padding: 0;
          width: 30px;
          height: 25px;
          background: transparent;
          box-shadow: none;
          border: 0;
          position: absolute;
          top:50%;
          left: 30px;
          transform: translate(0, -50%);
          z-index: 1;
      }

      .explore-slider .next-arrow,.whats_new_row_mobile .next-arrow{
          right: 20px;
          left: auto;
      }

      .reviews-slider .next-arrow{
          right: -30px;
          left: auto;
      }
      .reviews-slider .prev-arrow{
          left: -30px
      }
      .reviews-slider .prev-arrow::after,
      .explore-slider .prev-arrow::after,
      .whats_new_row_mobile .prev-arrow::after{
          content: "";
          position: absolute;
          left: 0;
          z-index: 11;
          display: block;
          width: 20px;
          height: 20px;
          border-top: 3px solid #fff;
          border-left: 3px solid #fff;
              transform:rotate(-45deg)
      }
      .reviews-slider .next-arrow::after,
      .explore-slider .next-arrow::after,
      .whats_new_row_mobile .next-arrow::after{
          content: "";
          position: absolute;
          left: 0;
          z-index: 11;
          display: block;
          width: 20px;
          height: 20px;
          border-top: 3px solid #fff;
          border-left: 3px solid #fff;
              transform:rotate(-225deg)
      }
      .explore-slider .slick-dots{
          display: flex !important;
          list-style: none;
          justify-content: center;
          padding: 0;
          align-items: center
      }
      .explore-slider .slick-dots li{
          margin: 0;
          height: 4px;
      }
      .explore-slider .slick-dots li button{
          font-size: 0;
          line-height: 0;
          height: 4px;
          padding: 0;
          min-height: 4px;
          width: 50px;
          background:rgba(0,0,0,.4);
          opacity: 0.4;
      }
      .explore-slider .slick-dots  .slick-active button{
          min-height: 6px;
          background: #808080;
          margin-top: -1px;
          opacity: 1;
      }
      .reviews-slider .slick-dots{
          display: flex !important;
          list-style: none;
          justify-content: center;
          padding: 0;
          gap:10px;
          margin-block:30px 0;
      }
      .reviews-slider .slick-dots li{
          margin: 0;
          height: 16px;
      }
      .reviews-slider .slick-dots li button{
          font-size: 0;
          line-height: 0;
          height: 16px;
          padding: 0;
          min-height: 16px;
          width: 16px;
          background:transparent;
          border: 1px solid #fff;
          border-radius: 50%;
      }
      .reviews-slider .slick-dots  .slick-active button{
          min-height: 6px;
          background: #fff;
      }
    .from em{
      font-weight:600;
    }
      @media (max-width:1199px){
          .experience .expe_desc{
              line-height: normal;
          }
          .experience .expe_title{
              font-size: 50px;
              line-height: normal;
          }
          .experience_block {
              grid-template-columns: 35% auto;
          }
          .featuredon-slider .slick-track{
              gap: 20px;
          }
      }
      @media (max-width:1024px) {
          .Comfort_style {
              padding-block: 20px 0;
          }

          .Comfort_style .left img {
              margin-bottom: -40px;
          }

          .Comfort_style h2 {
              font-size: 26px;
              line-height: 100%;
              font-weight: 700;
          }
          .Comfort_style p {
              font-size: 16px;
              line-height: 22px;
          }
          .whats_new_row{
              padding: 0
          }
          .whats_new_row .whats_new_item .whats_new_cotent{
              bottom: 20px
          }
          .whats_new_row .whats_new_item .whats_new_cotent h3{
              line-height: 1;
          }
          .whats_new_row .whats_new_item .whats_new_cotent p{
              margin-bottom: 10px;
          }
          .why_trapo{
              padding-block: 30px;
          }
          .why_trapo_row {
              display: flex;
              gap: 15px;
              flex-wrap: wrap;
              justify-content: space-between;
          }
          .why_trapo_item {
              width: 23%;
          }
          .why_trapo_item:first-child {
              width: 100%;
          }
          .why_trapo_item .why_trapo_title{
              text-align: center;
              margin-bottom: 0;
              font-size: 45px;
          }
          .happy_cstmr_title br,
          .experience .expe_title br,
          .why_trapo_item .why_trapo_title br{
              display: none;
          }
          .experience_block {
              grid-template-columns: 1fr;
              gap: 20px;
          }
          .locate_us{
              margin: 0 auto;
          }
          .experience_block .left{
              text-align: center;
          }
          .experience .expe_desc{
              margin-bottom: 20px;
          }
          .experience .expe_title{
              font-size: 40px;
              margin-bottom: 0;
          }
          .featuredon-section .featuredon_block {
              width: calc(100% - 170px);
          }
          .featuredon-section .slick-list .slick-slide {
              padding-inline: 5px;
          }
          .happy_customer{
              padding-block: 30px;
          }
          .happy_cstmr_slider{
              width: auto;
          }
          .happy_cstmr_title{
              position: unset;
              transform: unset;
              text-align: center;
              margin-bottom: 30px;
              font-size: 40px;
          }
          .slider_content {
              padding-right: 50px;
          }
          .reviews-slider .next-arrow{
              right: 0;
          }
          .reviews-slider .prev-arrow {
              left: 10px;
          }
      }

      @media (min-width:768px){
          .whats_new_row_mobile{
              display: none;
          }
      }
      @media (max-width:767px) {
          .Comfort_style {
              text-align: center;
          }

          .Comfort_style .left img {
              margin-bottom: 0;
          }

          .Comfort_style .right {
              padding-left: 15px;
          }

          .Comfort_style p {
              max-width: 290px;
              margin-inline: auto;
          }

          .Comfort_style .right h2 {
              max-width: 225px;
              margin-inline: auto;
              margin-bottom: 8px!important;
              text-align: center!important;
              line-height: 114.7%!important;
              color: #16406d!important;
              font-size: 28px!important;
              font-weight: 700!important;
          }
          .Comfort_style .right br {
              display: none;
          }

          .cstm_btn {
              margin-right: 0;
          }
          #tabs-nav{
              text-align: left;
              flex-direction: row;
              justify-content: center;
              margin-bottom: 20px;
          }
          #tabs-nav a{
              padding: 12px 7px;
          }
        .whats-hot-slider .thumbnail .title {
          font-size: 14px!important;
          line-height: 16px!important;
      }
          .whats_new_row {
              display: none;
          }
          .why_trapo_item {
              width: 70%;
              text-align: center;
          }
          .why_trapo_row{
              justify-content: center;
          }
          .why_trapo_item h3{
              font-size: 18px;
          }
          .why_trapo_item .why_trapo_title {
              font-size: 24px;
          }
          .why_trapo_item h3 br{display: none;}
          .why_trapo_item p{
              font-size: 16px;
          }
          .featured_news_row{
              flex-wrap: wrap;
          }
          .featured_news_row .news_item img {
              height: 240px;
          }
          .featuredon-slider .slick-track {
              gap: 0px;
          }
          .experience .expe_title {
              font-size: 24px;
          }
          .experience .expe_desc{
              font-size: 16px;
              margin-block: 5px 15px;
          }
          .experience .left-sec{
              margin-bottom: 20px;
          }
          .map-item .map-body div a.action_button.direction{
              padding-block: 5px 6px;
              height: auto !important;
              min-height: unset ;
          }
          .Comfort_style .left{
              padding-bottom: 10px;
          }
          .more_news{
              margin-top: 30px;
          }
          .featured_news_row .news_title{
              font-size: 22px;
              line-height: normal;
              margin-bottom: 6px;
          }
          .featuredon-section {
              padding-block: 30px;
          }
          .featuredon-section .featuredon_row .featuredon_title{
              text-align: center;
              position: unset;
              transform: unset;
          }
          .featuredon-section .featuredon_block{
              width: 100%;
              padding-inline: 40px;
          }
          .featuredon-section .featuredon_row .featuredon_title h2{
              font-size: 16px;
              letter-spacing: 5px!important;
              margin-bottom: 15px;
          }
          .happy_cstmr_slider .slider_item{
              display: unset;
          }
          .reviews-slider .slick-arrow{
              top: 25%;
          }
         .happy_cstmr_title{
              font-size: 24px;
              margin-bottom: 15px;
         }
          .happy_cstmr_slider .slider_item img {
              max-width: 200px;
              margin: 0 auto 20px;
          }
          .slider_content {
              padding-right: 0;
              text-align: center;
              padding-inline: 10px;
          }
          .happy_cstmr_slider .slider_content h4{
              font-size: 20px;
              margin-bottom: 0;
          }
          .happy_cstmr_slider .slider_content p{
              font-size: 16px;
          }
          .sec_title{
              font-size: 22px;
              letter-spacing: 2px;
          }
          .reviews-slider .slick-dots li button {
              height: 12px;
              min-height: 12px;
              width: 12px;
          }
        .slider-gallery .gallery-cell a.slider-collection-url{
          padding: 5px 10px;
      padding-top: 6px;
      font-size: 12px;
        }
      }
</style>
<style>
  .whats_new_row_mobile .slick-slide img{
      width: 100%;
  }
  .whats_new_row_mobile .slick-list{
      margin-inline: -10px;
  }
  .whats_new_row_mobile .slick-slide{
      padding-inline: 10px;
  }
  .whats_new_row_mobile .whats_new_item{
      position: relative;
  }
  .whats_new_row_mobile .whats_new_item .img_box img{
      width: 100%
  }
  .whats_new_row_mobile .whats_new_item .whats_new_cotent{
      position: absolute;
      bottom: 20px;
      text-align: center;
      color: #fff;
      left: 50%;
      transform: translate(-50%,0);
      max-width: 200px;
      width: 100%;
      padding-inline:10px
  }
  .whats_new_row_mobile .whats_new_item .whats_new_cotent h3{
      color: #fff;
      font-size: 14px;
      margin-bottom: 8px;
      line-height: normal;
      font-weight: 500;
  }
  .whats_new_row_mobile .whats_new_item .whats_new_cotent p{
      font-size: 14px;
      line-height: 16px;
  }
  .whats_new_row_mobile .whats_new_item .whats_new_cotent a{
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      font-family: "Roboto";
      font-weight: 500;
      text-decoration: underline;
      text-underline-offset: 5px;
  }
</style>
<script>
  $('#tabs-nav li:first-child').addClass('active');
  $('.tab-content').hide();
  $('.tab-content:first').show();

  $('#tabs-nav li').click(function () {
      $('#tabs-nav li').removeClass('active');
      $(this).addClass('active');
      $('.tab-content').hide();

      var activeTab = $(this).find('a').attr('href');
      $(activeTab).fadeIn();
      return false;
  });
</script>
<script>
      $(".map-items-wrapper li a").click(function() {
        var locId = $(this).data("id");
        $(".locimg").removeClass('active');
        if(locId == 'location-1'){
          $("#loc-img-1").addClass('active');
        }
        if(locId == 'location-2'){
          $("#loc-img-2").addClass('active');
        }
        if(locId == 'location-3'){
          $("#loc-img-3").addClass('active');
        }
        if(locId == 'location-4'){
          $("#loc-img-4").addClass('active');
        }
        if(locId == 'location-5'){
          $("#loc-img-5").addClass('active');
        }
        if(locId == 'location-6'){
          $("#loc-img-6").addClass('active');
        }
        if(locId == 'location-7'){
          $("#loc-img-7").addClass('active');
        }
        if(locId == 'location-8'){
          $("#loc-img-8").addClass('active');
        }
        if(locId == 'location-9'){
          $("#loc-img-9").addClass('active');
        }
        if(locId == 'location-10'){
          $("#loc-img-10").addClass('active');
        }
      });

      $('.explore-slider').slick({
          dots: true,
          infinite: false,
          speed: 300,
          slidesToShow: 5,
          slidesToScroll: 1,
          prevArrow: '<button class="slide-arrow prev-arrow"></button>',
          nextArrow: '<button class="slide-arrow next-arrow"></button>',
          responsive: [
              {
              breakpoint: 1024,
              settings: {
                  slidesToShow: 3
              }
              },
              {
              breakpoint: 600,
              settings: {
                  slidesToShow: 2
              }
              }
          ]
      });
      $('.whats_new_row_mobile').slick({
          dots: false,
          infinite: false,
          speed: 300,
          slidesToShow: 2,
          slidesToScroll: 1,
          prevArrow: '<button class="slide-arrow prev-arrow"></button>',
          nextArrow: '<button class="slide-arrow next-arrow"></button>'
      });
      $('.featuredon-slider').slick({
          dots: false,
          infinite: false,
          speed: 300,
          slidesToShow: 5,
          slidesToScroll: 1,
          prevArrow: '<button class="slide-arrow prev-arrow"></button>',
          nextArrow: '<button class="slide-arrow next-arrow"></button>',
          responsive: [
              {
              breakpoint: 1024,
              settings: {
                  slidesToShow: 3
              }
              },
              {
              breakpoint: 600,
              settings: {
                  slidesToShow: 3
              }
              },
              {
              breakpoint: 480,
              settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3
              }
              }
          ]
      });


    $('.reviews-slider').slick({
    dots: true,
    infinite: false,
    speed: 300,
    slidesToShow: 1,
    slidesToScroll: 1,
    prevArrow: '<button class="slide-arrow prev-arrow"></button>',
    nextArrow: '<button class="slide-arrow next-arrow"></button>'
  });
</script>
{% schema %}
{
"name": "Homepage Main Section",
"settings": [],
"presets": [
{
"name": "Homepage Main Section",
"category": "Text"
}
]
}
{% endschema %}
