<div class="container">
  <div class="twelve columns offset-by-two page clearfix">
    <div class="location-content">
      <div class="sec-callus">
        <h1 class="page-title" style="margin: 0 auto -10px;">Call Us</h1>
        <div class="sec-callus-inner">
          <div class="desktop">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/contactus_CS6.jpg?v=1693299728"
              loading="lazy"
            >
          </div>
          <div class="mobile">
            <img
              src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/contactus_CS6_mobile.jpg?v=1693299729"
              loading="lazy"
            >
          </div>
        </div>
      </div>

      <div class="sec-hubs">
        <h1 class="page-title">Hub Locations</h1>
        <div class="row">
          <h2 class="sub-title">Klang Valley</h2>
        </div>
        <div class="row">
          <div class="eight columns omega">
            <div class="loc-title">
              <h2>Trapo Glenmarie Hub</h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Trapo_Glenmarie_-_Cover_Image_copy.jpg?v=1723695126"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-glenmarie-hub">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                17-G, Jalan Penguasa A U1/53A, <br>
                Temasya Glenmarie, 40150 Shah Alam, <br>
                Selangor.
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">9am-7pm (except public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a
                href="https://www.google.com/maps/place/TRAPO+Glenmarie+Hub/@3.0879705,101.5782913,15z/data=!4m5!3m4!1s0x0:0xe04a194044664a7!8m2!3d3.0879705!4d101.5782913"
                target="_blank"
                class="action_button direction"
                >Directions</a
              >
              <a href="tel:+60108871870" class="action_button call">Call us</a>
              <a
                href="https://wa.me/60108871870?text=Welcome%20to%20Trapo%20Glenmarie!%0A"
                target="_blank"
                class="action_button whatsapp"
              >
                <span>
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203">
                </span>
                Whatsapp us
              </a>
            </div>
          </div>

          <div class="eight columns alpha">
            <div class="loc-title">
              <h2>Trapo Cheras Hub</h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/cheras_6a102ff0-ec79-4b54-ad83-7fa5279ca5de.jpg?v=1696300461"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-cheras-hub">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                No.15, Jalan Jejaka 3, <br>
                Taman Maluri, Cheras, 55100 <br>
                Kuala Lumpur.
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">9am-7pm (except public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a
                href="https://www.google.com/maps/place/TRAPO+Car+Mats+Cheras+Maluri+Hub/@3.1274414,101.7276613,17z/data=!3m1!4b1!4m5!3m4!1s0x31cc37472e5a4411:0xc8496c81ae70994!8m2!3d3.127436!4d101.72985"
                target="_blank"
                class="action_button direction"
                >Directions</a
              >
              <a href="tel:+60126388295" class="action_button call">Call us</a>
              <a
                href="https://wa.me/60126388295?text=Welcome%20to%20Trapo%20Cheras!%0A"
                target="_blank"
                class="action_button whatsapp"
              >
                <span>
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203">
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="eight columns alpha">
            <div class="loc-title">
              <h2>Trapo Mid Valley <span>Kiosk</span></h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/location-5.png?v=1635928465"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-mid-valley-kiosk">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                SK-12,Level 2 Mid Valley Megamall, <br>
                Lingkaran Syed Putra, 59200 <br>
                Kuala Lumpur.
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">10am-10pm (including public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a
                href="https://www.google.com/maps/place/TRAPO+KL+Car+Mats+Mid+Valley+Hub/@3.1167409,101.6773089,15z/data=!4m2!3m1!1s0x0:0x9fd5987c7f45168a?sa=X&ved=2ahUKEwjPltzuzt32AhUzzjgGHVtqATgQ_BJ6BAgUEAU"
                target="_blank"
                class="action_button direction"
                >Directions</a
              >
              <a href="tel:+60126388252" class="action_button call">Call us</a>
              <a
                href="https://wa.me/60126388252?text=Welcome%20to%20Trapo%20Mid%20Valley%20Megamall!%0A"
                target="_blank"
                class="action_button whatsapp"
              >
                <span>
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203">
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
          <div class="eight columns alpha">
            <div class="loc-title">
              <h2>Trapo Bangsar Hub</h2>
            </div>
            <div class="loc-img">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/bangsar.jpg?v=1636532917" loading="lazy">
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-bangsar-hub">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                75, Jalan Maarof, Bangsar, <br>
                Wilayah Persekutuan Kuala Lumpur, <br>
                59000 Kuala Lumpur.
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">9am-7pm (except public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a
                href="https://www.google.com/maps/place/Trapo+Bangsar+Hub/@3.1310563,101.663889,15z/data=!4m6!3m5!1s0x31cc4929b4ce44b1:0xfd55544ae91447c3!8m2!3d3.1310563!4d101.6726438!15sCgV0cmFwbyIDiAEBkgEVY2FyX2FjY2Vzc29yaWVzX3N0b3Jl?shorturl=1"
                target="_blank"
                class="action_button direction"
                >Directions</a
              >
              <a href="tel:+60106694870" class="action_button call">Call us</a>
              <a
                href="https://wa.me/60106694870?text=Welcome%20to%20Trapo%20Bangsar!%0A"
                target="_blank"
                class="action_button whatsapp"
              >
                <span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203"
                    loading="lazy"
                  >
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="eight columns alpha">
            <div class="loc-title">
              <h2>Trapo 1 Utama</h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/1U-Hub-480-by-321.jpg?v=1677576885"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-1-utama">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                Lot S202D, Second Floor,1 Utama Shopping Centre <br>
                S139, Lebuh Bandar Utama <br>
                Petaling Jaya, 47800 Selangor
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">10am-10pm (including public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a
                href="https://www.google.com/maps/place/Trapo+1+Utama/@3.147911,101.6137664,17z/data=!3m1!4b1!4m6!3m5!1s0x31cc49671097e591:0xf513c3d1ace68fb3!8m2!3d3.147911!4d101.6159551!16s%2Fg%2F11tp9pm3gn?hl=en-RO"
                target="_blank"
                class="action_button direction"
                >Directions</a
              >
              <a href="tel:+60167047870" class="action_button call">Call us</a>
              <a
                href="https://api.whatsapp.com/send/?phone=60167047870&text&type=phone_number&app_absent=0"
                target="_blank"
                class="action_button whatsapp"
              >
                <span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203"
                    loading="lazy"
                  >
                </span>
                Whatsapp us
              </a>
            </div>
          </div>

          <div class="eight columns omega">
            <div class="loc-title">
              <h2>Trapo Balakong</h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/DSCF1471.jpg?v=1681457037"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-balakong">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                27-G Jalan Simfoni 1 Balakong, <br>
                43300 Seri Kembangan, Selangor
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">9am-7pm (including public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a
                href="https://www.google.com/maps/dir//trapo+balakong/@3.0261575,101.6811952,12z/data=!3m1!4b1!4m9!4m8!1m1!4e2!1m5!1m1!1s0x31cdcbbc553478cd:0x6b3b20173218dc8d!2m2!1d101.7512358!2d3.0261598"
                target="_blank"
                class="action_button direction"
                >Directions</a
              >
              <a href="tel:01136608700" class="action_button call">Call us</a>
              <a href="https://api.whatsapp.com/send?phone=601136608700" target="_blank" class="action_button whatsapp">
                <span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203"
                    loading="lazy"
                  >
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <h2 class="sub-title">Johor Bahru</h2>
        </div>

        <div class="row">
          <div class="eight columns alpha">
            <div class="loc-title">
              <h2>Taman Daya Hub</h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/td-new.jpg?v=1723435424"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/taman-daya-hub">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                TD Central, 5F, <br>
                Jalan Sagu 21, Taman Daya, <br>
                81100 Johor Bahru, Johor.
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">9am-7pm (except public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a
                href="https://www.google.com/maps?q=TRAPO+Taman+Daya+Hub+(Car+Mats+%26+Accessories),+TD+Central,+5F,+Jalan+Sagu+21,+Taman+Daya,+81100+Johor+Bahru,+Johor&ftid=0x31da6d9dc26cacb9:0x957492f0cdcb0e17&entry=gps&lucs=,94222349,47071704,47069508,94218635,94203019,47084304,94208458,94208447&g_ep=CAISDTYuMTE3LjEuNjI5MjAYACCenQoqSCw5NDIyMjM0OSw0NzA3MTcwNCw0NzA2OTUwOCw5NDIxODYzNSw5NDIwMzAxOSw0NzA4NDMwNCw5NDIwODQ1OCw5NDIwODQ0N0ICTVk%3D&g_st=com.alibaba.dingtalklite.ShareExtension"
                target="_blank"
                class="action_button direction"
                >Directions</a
              >
              <a href="tel:+60167648700" class="action_button call">Call us</a>
              <a
                href="https://wa.link/y0c2yw"
                target="_blank"
                class="action_button whatsapp"
              >
                <span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203"
                    loading="lazy"
                  >
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
          <div class="eight columns omega">
            <div class="loc-title">
              <h2>Trapo Mid Valley <span>Southkey JB Hub</span></h2>
            </div>
            <div class="loc-img">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/jb.jpg?v=1696300461" loading="lazy">
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-mid-valley-southkey-jb-hub">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                FK-02, First Floor, <br>
                The Mall Midvalley Southkey, <br>
                80150 Johor Bahru, Johor.
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">10am-10pm (including public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a
                href="https://www.google.com/maps/place/TRAPO+Midvalley+Southkey+Johor+Hub/@1.500349,103.7778871,15z/data=!4m2!3m1!1s0x0:0x4b73c55e8bfb7bc0?sa=X&ved=2ahUKEwjXxKSRz932AhXHwjgGHfM-D08Q_BJ6BAgdEAU"
                target="_blank"
                class="action_button direction"
                >Directions</a
              >
              <a href="tel:+60166018700" class="action_button call">Call us</a>
              <a
                href="https://api.whatsapp.com/send?phone=60166018700&text=Hi%20Trapo%20Mid%20Valley%20South%20Key!"
                target="_blank"
                class="action_button whatsapp"
              >
                <span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203"
                    loading="lazy"
                  >
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <h2 class="sub-title">Melaka</h2>
        </div>

        <div class="row">
          <div class="eight columns alpha">
            <div class="loc-title">
              <h2>Trapo Melaka Raya Hub</h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/location-1.png?v=1635928465"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-melaka-raya-hub">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                No.177, Jalan Merdeka, <br>
                Taman Melaka Raya, 75000 Melaka.
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">9am-7pm (except public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a
                href="https://www.google.com/maps/place/TRAPO+Car+Mats+Melaka+Raya+Hub/@2.1884185,102.2525614,17z/data=!3m1!4b1!4m5!3m4!1s0x31d1ee1e06dbaf4f:0x3a672560b928eef7!8m2!3d2.1884131!4d102.2547501"
                target="_blank"
                class="action_button direction"
                >Directions</a
              >
              <a href="tel:+60102553870" class="action_button call">Call us</a>
              <a
                href="https://wa.me/60102553870?text=Welcome%20to%20Trapo%20Melaka%20Raya!%0A"
                target="_blank"
                class="action_button whatsapp"
              >
                <span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203"
                    loading="lazy"
                  >
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <h2 class="sub-title">Sarawak</h2>
        </div>

        <div class="row">
          <div class="eight columns omega">
            <div class="loc-title">
              <h2>Trapo Kuching</h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/Sarawak-2.png?v=1687515352"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-kuching">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                Sublot 5, Ground Floor, Lot 19398, Block 11, MTLD, <br>
                Block 11, MTLD, Jalan Wan Alwi, <br>
                Taman Wan Alwi ,93250 Kuching, Sarawak
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">9am-7pm (including public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a href="https://goo.gl/maps/dGoSZK8tQ6SkZyez8" target="_blank" class="action_button direction"
                >Directions</a
              >
              <a href="tel:0167398700" class="action_button call">Call us</a>
              <a href="https://api.whatsapp.com/send?phone=60167398700" target="_blank" class="action_button whatsapp">
                <span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203"
                    loading="lazy"
                  >
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <h2 class="sub-title">Penang</h2>
        </div>

        <div class="row">
          <div class="eight columns omega">
            <div class="loc-title">
              <h2>Trapo Pulau Tikus</h2>
            </div>
            <div class="loc-img">
              <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/penang.png" loading="lazy">
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="/pages/trapo-pulau-tikus">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                2, Persiaran midlands, <br>
                Pulau tikus, Georgetown <br>
                10250 Pulau Pinang
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">9am-7pm (except public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a href="https://goo.gl/maps/WbMyBWAxoGyBSFEbA" target="_blank" class="action_button direction"
                >Directions</a
              >
              <a href="tel:+60146928700" class="action_button call">Call us</a>
              <a
                href="https://wa.me/+60146928700?text=Hello,%20I%20need%20help!%0A"
                target="_blank"
                class="action_button whatsapp"
              >
                <span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203"
                    loading="lazy"
                  >
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <h2 class="sub-title">Locations for Authorized Installations</h2>
        </div>
        <div class="row">
          <div class="eight columns omega">
            <div class="loc-title">
              <h2>J.L Auto Tinting Film</h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/JL_shop-new.webp?v=1699261361"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a
                  href="https://www.waze.com/live-map/directions/my/sabah/kota-kinabalu/j.l-auto-tinting-film-and-accessories?to=place.ChIJbe0X-uJrOzIRPreZYnQ_Yg0"
                  target="_blank"
                >
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                Lot 22, Grd Floor, Lorong Kurma 1, Likas Industrial Centre, Miles 5 1/2, Tuaran Road, 88450 Kota
                Kinabalu,Sabah
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">8am-5pm (public holiday closed)</p>
            </div>
            <div class="loc-call-action">
              <a href="https://maps.app.goo.gl/xQCt5R2ayJ9qJoHx7" target="_blank" class="action_button direction"
                >Directions</a
              >
              <a href="tel:60168316939" class="action_button call">Call us</a>
              <a href="https://api.whatsapp.com/send?phone=60168316939" target="_blank" class="action_button whatsapp">
                <span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203"
                    loading="lazy"
                  >
                </span>
                Whatsapp us
              </a>
            </div>
          </div>
          <div class="eight columns omega">
            <div class="loc-title">
              <h2>CARSOME PJ Automall</h2>
            </div>
            <div class="loc-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/carsome-location.webp?v=1701773568"
                loading="lazy"
              >
            </div>
            <div class="loc-address">
              <p class="address-title">
                <span class="text-left">Address</span>
                <a href="https://maps.app.goo.gl/2745gkeZAdWxcZzeA">
                  <span class="right">More info</span>
                </a>
              </p>
              <p class="address main">
                Part of Lot 1, Naza Automall Jalan, Jalan 51A/221, <br>
                Seksyen 51a, 46100 Petaling Jaya, Selangor
              </p>
              <p class="work-title">Working Hours</p>
              <p class="address">9am-6pm (including public holiday)</p>
            </div>
            <div class="loc-call-action">
              <a href="https://maps.app.goo.gl/2745gkeZAdWxcZzeA" target="_blank" class="action_button direction"
                >Directions</a
              >
              <a href="tel:1-800-82-3388" class="action_button call">Call us</a>
              <!--
                <a href="https://api.whatsapp.com/send?phone=60167398700" target="_blank" class="action_button whatsapp">
                <span>
                  <img src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/whatspp.png?v=1635930203" loading="lazy" />
                </span> Whatsapp us </a>
              -->
            </div>
          </div>
        </div>

        <div class="location-map">
          <h1>Partner Locations</h1>
          <div develic-map="{{page.metafields.maps-by-develic.data | escape}}"></div>
          <div align="center">
            <a
              href="https://www.autogoodies.asia/account/register"
              class="action_button"
              target="_blank"
              rel="noopener noreferrer"
              >BECOME OUR PARTNER/AGENT</a
            >
          </div>
        </div>

        <div class="location-review">
          <h1>Partner And Agent Review</h1>
          <div class="row">
            <div class="eight columns alpha">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/partner1-ys-automart.jpg?v=1565170241"
                alt=""
                loading="lazy"
              >
            </div>
            <div class="eight columns omega">
              <img
                src="https://cdn.shopify.com/s/files/1/0234/7089/9277/files/agent1-yit-kuang.jpg?v=1565170269"
                alt=""
                loading="lazy"
              >
            </div>
          </div>
        </div>

        <div class="location-form">
          <h1>Contact Form</h1>
          <p>Alternatively, you can fill up the form below. We will let get back to you as soon as we can.</p>
          {% form 'contact' %}
            {% if form.posted_successfully? %}
              <p class="quote">{{ 'contact.form.post_success' | t }}</p>
            {% endif %}

            {% if form.errors %}
              <p class="quote">{{ 'general.forms.post_error' | t }}</p>

              {% assign message = 'contact.form.message' | t %}
              <ul class="center">
                {% for field in form.errors %}
                  {% if field == 'form' %}
                    <li>
                      {{ form.errors.messages[field] }}
                    </li>
                  {% else %}
                    <li>
                      {% assign field_name = field | replace: 'body', message %}
                      {{
                        'general.forms.post_field_error_html'
                        | t: field: field_name, error: form.errors.messages[field]
                      }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}

            <br class="clear">
            <div class="eight columns alpha">
              {% assign name_attr = 'contact.form.name' | handle %}
              <label for="contactFormName">
                {{- 'contact.form.name' | t }}
                <span class="red">*</span></label
              >
              <input
                type="text"
                id="contactFormName"
                name="contact[{{ name_attr }}]"
                placeholder="{{ 'contact.form.name' | t }}"
                autocapitalize="words"
                value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}"
                required="required"
              >
            </div>
            <div class="eight columns omega" style="margin-right: 10px">
              <label for="contactFormEmail">
                {{- 'contact.form.email' | t }}
                <span class="red">*</span></label
              >
              <input
                type="email"
                id="contactFormEmail"
                name="contact[email]"
                placeholder="{{ 'contact.form.email' | t }}"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                required="required"
              >
            </div>
            {% comment %}
              {% assign name_attr = 'contact.form.phone' | t | handle %}
              <label for="contactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="contactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
            {% endcomment %}

            <label for="contactFormMessage">
              {{- 'contact.form.message' | t }}
              <span class="red">*</span></label
            >
            <textarea
              rows="5"
              id="contactFormMessage"
              name="contact[body]"
              placeholder="{{ 'contact.form.message' | t }}"
              required="required"
            >{% if form.body %}{{ form.body }}{% endif %}</textarea>

            {% if section.settings.text %}
              {{ section.settings.text }}
            {% endif %}

            <input type="submit" class="submit action_button" value="{{ 'contact.form.send' | t }}">
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    .sec-callus-inner .mobile img{
      display:none;
    }
    .location-content h1.page-title {
      font-family: Roboto, sans-serif !important;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    text-transform: none;
    line-height: 1.5;
    color: #fff;
    display: block;
    letter-spacing: 0 !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto 10px;
    clear: both;
    padding-top: 0;
    background: #000;
    text-align: center;
  }
  h2.sub-title{
  font-family: 'Roboto' !important;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
    .sec-callus{
    margin-bottom: 30px;
  }
  .sec-callus .sec-callus-inner{
    margin-top: 25px;
  }
  .loc-title {
    width: 100%;
      background: #173f6d;
      padding: 18px 10px;
      text-align: center;
  }
  .loc-title h2{
    color: #fff;
      font-size: 25px;
      margin: 0;
      text-transform: inherit;
      font-weight: 700;
      letter-spacing: 0;
  }
  .loc-title h2 span{
      font-size: 16px;
  }
  .loc-img{
    width: 95%;
      margin: auto;
      position: relative;
      top: -10px;
  }
  .loc-img img{
    width:100%;
  }
  .sec-hubs{
    margin-bottom: 50px;
  }
  .loc-address{
        width: 85%;
      margin: auto;
  }
  .container.content .loc-address p.address-title,.container.content .loc-address p.work-title{
    font-size: 14px;
      font-weight: 700 !important;
      margin-bottom: 0 !important;
    padding-bottom:0 !important;
  }
  .loc-address .address{
    font-size: 14px;
      font-weight: normal;
  }
  .loc-address .address.main{
    min-height:68px;
  }
  .loc-call-action{
        width: 90%;
      margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .loc-call-action .action_button{
    width: 48.3%;
    border-radius: 7px;
      letter-spacing: 1px;
      font-weight: normal;
  }
  .loc-call-action .action_button.direction{
    margin-right: 5px;
  }
  .loc-call-action .action_button.call{
    margin-left: 5px;
  }
  .loc-call-action .action_button.whatsapp{
    margin-top: 10px;
    width: 100%;
  }
  .loc-call-action .action_button.whatsapp span{
    width: 50px;
  }
  .loc-call-action .action_button.whatsapp span img{
    width: 30px;
    position: relative;
    top: 2px;
  }
  .location-map{
    margin-bottom: 35px;
  }
  .location-content #contactFormMessage{
    width:98%;
  }
  .sec-callus-inner .mobile img{
      display:none;
    }
  .container.content .location-content .loc-call-action a{
    color:#ffffff;
  }
    .column, .columns {
      float: left;
      display: inline;
      margin-left: 10px;
      margin-right: 10px;
      box-sizing: border-box;
  }
    .action_button, a.action_button{
      background: #ee2a7b;
      color: #fff;
      border: 1px solid #ee2a7b;
      padding: 0 20px;
      text-align: center;
      cursor: pointer;
      min-height: 44px;
      height: 40px;
      line-height: 1.2;
      vertical-align: top;
      font-family: Roboto,sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 14px;
      text-transform: none;
      letter-spacing: 0px;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      transition: all .2s linear;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-smoothing: antialiased;
      border-radius: 0;
    }
    p.address-title span,p.work-title{
      font-weight:700;
    }
    @media only screen and (min-width: 481px){
  .column.alpha, .columns.alpha {
      margin-left: 0;
  }
    }
    @media only screen and (max-width: 480px){
  .column:not([class*=small-down--one-half]), .columns:not([class*=small-down--one-half]) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
  }
    }
    @media screen and (max-width: 767px){
      .loc-call-action .action_button{
        width:48.5%;
      }
      .location-content{
      margin:0 15px;
      }
      .container.breadcrumb-container-page {
      padding: 5px 0;
      margin: 0 15px;
        width:auto;
  }
      .loc-call-action {
      width: 100%;
      }
      .loc-call-action .action_button.direction{
        margin-right: 0;
      }
    .sec-callus-inner .desktop img{
      display:none;
    }
    .sec-callus-inner .mobile img{
      display:block;
    }
      .twelve {
      width: calc(100% - 20px);
  }
      .offset-by-two {
      left: 0;
  }
    }
</style>
